<div class="row my-3">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Name :</a></span>
        <span class="line-height-2 d-block overflow-hidden">{{emergencyDetail?.name}}</span>
      </li>
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> Cnic : </a></span>
        <span class="line-height-2 d-block overflow-hidden">{{emergencyDetail?.cnic}}</span>
      </li>
    </ul>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Contact :</a></span>
        <span class="line-height-2 d-block overflow-hidden">{{emergencyDetail?.contact}} </span>
      </li>
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> Relation :</a></span>
        <span class="line-height-2 d-block overflow-hidden">{{emergencyDetail?.relation}}</span>
      </li>
    </ul>
  </div>


  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>address :</a></span>
        <span class="line-height-2 d-block overflow-hidden">{{emergencyDetail?.address}} </span>
      </li>
      <!-- <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> Relation :</a></span>
        <span class="grey line-height-0 d-block mb-2 font-small-2">2014-Now</span>
        <span class="line-height-2 d-block overflow-hidden">{{emergencyDetail?.relation}}</span>
      </li> -->
    </ul>
  </div>
</div>
<hr>


name: "test"
cnic: "123123213"
contact: "123123123"
relation: "test"
address: "test"