<div class="row my-3">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> Name :</a></span>
        <span class="line-height-2 d-block overflow-hidden">{{allfamilymembers?.name}}</span>
      </li>
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Cnic : </a></span>
        <span class="line-height-2 d-block overflow-hidden">{{allfamilymembers?.cnic}}</span>
      </li>
    </ul>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Nationality :</a></span>
        <span class="line-height-2 d-block overflow-hidden">{{allfamilymembers?.nationality}} </span>
      </li>
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Profession :</a></span>
        <span class="line-height-2 d-block overflow-hidden">{{allfamilymembers?.profession}}</span>
      </li>
    </ul>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Contact :</a></span>
        <span class="line-height-2 d-block overflow-hidden">{{allfamilymembers?.contact}} </span>
      </li>
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Relation :</a></span>
        <span class="line-height-2 d-block overflow-hidden">{{allfamilymembers?.relation}}</span>
      </li>
    </ul>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Address :</a></span>
        <span class="line-height-2 d-block overflow-hidden">{{allfamilymembers?.address}} </span>
      </li>
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Blood Group : :</a></span>
        <span class="line-height-2 d-block overflow-hidden">{{allfamilymembers?.blood_group}}</span>
      </li>
    </ul>
  </div>
</div>
<hr>

 