#attendance-report .x-scroller{
    overflow-x: scroll; 
    overflow-y: hidden; 
    // height: 100px; 
    // width: 300px;
    display: inline-block;
    white-space: nowrap
}


.approved{
    background-color: green;
    width: 70px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rejected{
    background-color: red;
    width: 70px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pending{
    background-color: rgb(103, 103, 238);
    width: 70px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inprocess{
    background-color: orange;
    width: 70px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}