<div id="attendance-report" class="row m-0">
  <div class="col-12">
    <div  class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Attendance Report</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="">

            <div class="row mx-0 my-2">
              <div class="col-md-4">
                <input type="month" class="form-control" [value]="selectedMonth" (change)="monthChange($event)">
              </div>
            </div>
            <hr>
            <div class="row justify-content-end mx-0 my-2">
              <div class="col-md-1">
                <button (click)="exportToExcel()" class="btn btn-raised btn-primary">
                  Export
                </button>
              </div>
            </div>
            <table #TABLE class="table table-striped table-responsive">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Employee Name</th>
                  <th *ngFor="let day of daysInMonthArray" scope="col">{{day}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let attendnanceRow of attendanceArray">
                  <td scope="row">{{attendnanceRow.first_name+" "+attendnanceRow.last_name}}</td>
                  <td *ngFor="let attendanceDays of attendnanceRow.attendance_array">
                    <span (click)="open(attendanceModal,attendanceDays)">{{processAttendance(attendanceDays)}}</span>
                  </td>

                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #attendanceModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Attendance Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row my-1">
        <div class="col-md-6">
          <span class="font-weight-bold">Time In: </span>
          <span>{{attendanceDetail.time_in}}</span>
        </div>
        <div class="col-md-6">
          <span class="font-weight-bold">Time Out: </span>
          <span>{{attendanceDetail.time_out}}</span>
        </div>
      </div>
      <div class="row my-1">
        <div class="col-md-6">
          <span class="font-weight-bold">Status: </span>
          <span class="approved" *ngIf="attendanceDetail.attedance_type == 1">Present</span>
          <span class="rejected" *ngIf="attendanceDetail.attedance_type == 0">Absent</span>
          <span class="pending" *ngIf="attendanceDetail.attedance_type == 3">Leave</span>
        </div>
        <div class="col-md-6">
          <span class="font-weight-bold">Date: </span>
          <span>{{attendanceDetail.date}}</span>
        </div>
       
      </div>
      <div class="row my-1">
        <div class="col-md-6">
          <span class="font-weight-bold">Service Hours: </span>
          <span>{{attendanceDetail.service_hours ? convertHours(attendanceDetail.service_hours) : "0"}}</span>
        </div>
        <div class="col-md-6">
          <span class="font-weight-bold">Extra Hours: </span>
          <span>{{attendanceDetail.extra_hours ? convertHours(attendanceDetail.extra_hours) : "0"}}</span>
        </div>
      </div>
    </div>
  
  </ng-template>
</div>

