<div class="row m-0">
  <div class="col-12">
    <div id="user-profile" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">User Profile</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <ngb-tabset>

            <ngb-tab title="Personal">
              <ng-template ngbTabContent>
                <app-personal-details-show [userId]="userId"></app-personal-details-show>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="Employment">
              <ng-template ngbTabContent>
                <app-employment-details-show [userId]="userId"></app-employment-details-show>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="Hiring">
              <ng-template ngbTabContent>
                <app-hiring-details-show [userId]="userId"></app-hiring-details-show>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="Education">
              <ng-template ngbTabContent>
                <app-education-details-show  [userId]="userId"></app-education-details-show>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="Experience">
              <ng-template ngbTabContent>
                <app-experience-details-show [userId]="userId"></app-experience-details-show>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="Family Members">
              <ng-template ngbTabContent>
                <app-family-details-show [userId]="userId"></app-family-details-show>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="Emergency Contacts">
              <ng-template ngbTabContent>
                <app-emergency-details-show [userId]="userId"></app-emergency-details-show>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="Transfer History">
              <ng-template ngbTabContent>
                <app-transfer-history [userId]="userId"></app-transfer-history>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>

        </div>
      </div>
    </div>
  </div>
</div>