<div class="permission-list">
  <div class="row justify-content-end m-0">
    <button (click)="open(permissionModal)" class="btn btn-raised btn-raised btn-primary">
      <i class="ft-plus"></i> Add Permission
    </button>
  </div>
  <div *ngIf="permissionDetails.length == 0">
    Loading...
  </div>

  <ngx-datatable *ngIf="permissionDetails.length > 0" class="bootstrap striped" [rows]="permissionDetails"
    [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'" [headerHeight]="50"
    [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable">

    <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='No'" let-rowIndex="rowIndex"
        ngx-datatable-cell-template>
        <span>
          {{rowIndex + 1}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Name'" ngx-datatable-cell-template>
        <span>
          {{row.name}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Status'" ngx-datatable-cell-template>
        <div *ngIf="row.is_active == '1'" class="approved">
          {{"Active"}}
        </div>
        <div *ngIf="row.is_active == '0'" class="rejected">
          {{"Inactive"}}
        </div>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'" ngx-datatable-cell-template>
        <div class="col" style="position: absolute;">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
              <button (click)="open(permissionModal,row.id)" class="dropdown-item">Edit</button>
              <!-- <button (click)="deleteEductaion(row.id)" class="dropdown-item">Delete</button> -->
            </div>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <ng-template #permissionModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Permission</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="permissionForm" class="form">
        <div class="form-body">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="projectinput3">Name</label>
                <input formControlName="name" type="text" id="projectinput3" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="projectinput3">Status</label>
                <ng-select [items]="permissionStatus" bindLabel="name" bindValue="status" formControlName="is_active">
                </ng-select>
              </div>
            </div>
          </div>

          <div class="form-actions right">
            <button [disabled]="permissionForm.invalid" type="button" (click)="addPermission()"
              class="btn btn-raised btn-raised btn-primary">
              <i class="fa fa-check-square-o"></i> Save
            </button>
          </div>
        </div>
      </form>
    </div>

  </ng-template>
</div>