.permission-list .approved{
    background-color: green;
    width: 70px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.permission-list .rejected{
    background-color: red;
    width: 70px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}