<form class="form" [formGroup]="incrementForm">
  <div class="form-body">

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="issueinput5">User</label>
          <ng-select [items]="users" bindLabel="name" bindValue="id" formControlName="user_id">
          </ng-select>
        </div>
      </div>
    
      <div class="col-md-4">
        <div class="form-group">
          <label for="issueinput5">Amount</label>
          <input type="number" class="form-control" formControlName="amount">
        </div>
      </div>
     

      <div class="col-md-4 mt-3 ">
        <label for="issueinput5"></label>

        <button type="button" (click)="addIncrement()" [disabled]="incrementForm.invalid"
        class="btn btn-raised btn-raised btn-primary">
        <i class="fa fa-check-square-o"></i> Save
      </button>
      </div>
    </div>

   
  </div>

 
</form>