<div class="">

  <form>
    <h4 class="form-section"><i class="ft-user"></i>Documents</h4>
  </form>

  <div class="row justify-content-end m-0">
    <button (click)="open(documentModal)" class="btn btn-raised btn-raised btn-primary">
      <i class="ft-plus"></i> Add Document
    </button>
  </div>

  <ngx-datatable class="bootstrap striped" [rows]="documentDetails" [loadingIndicator]="loadingIndicator"
    [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
    [reorderable]="reorderable">

    <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Document Type'" ngx-datatable-cell-template>
        <span>
          {{row.document.options != "null" ? row.document.options : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Attachment'" ngx-datatable-cell-template>
        <span>
          {{row.attachment != "null" ? row.attachment : ""}}
        </span>
      </ng-template>

      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'" ngx-datatable-cell-template>
        <a (click)="downloadDoc(row.attachment,row.user_id)" >
          Download
        </a>
      </ng-template>
    
      <!-- <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'" ngx-datatable-cell-template>

        <div class="col" style="position: absolute;">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
              <button (click)="open(documentModal,row.id)" class="dropdown-item">Edit</button>
              <button (click)="deleteEductaion(row.id)" class="dropdown-item">Delete</button>
            </div>
          </div>
        </div>
      </ng-template> -->
    </ngx-datatable-column>
  </ngx-datatable>
</div>


<ng-template #documentModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Document</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="documentForm" class="form">
      <div class="form-body">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">Document Type</label>
              <ng-select [items]="docTypes" bindLabel="options" bindValue="id" formControlName="document_type_id">
              </ng-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">Attachment</label>
              <input (change)="processDoc($event)" type="file" id="projectinput3" class="form-control">
            </div>
          </div>
        </div>

      </div>
      <div class="form-actions right">
        <button [disabled]="documentForm.invalid && !doc_attachment" type="button" (click)="addDocument()" class="btn btn-raised btn-raised btn-primary">
          <i class="fa fa-check-square-o"></i> Save
        </button>
      </div>
    </form>
  </div>

</ng-template>