<div class="row m-0">
  <div class="col-12">
    <div id="role" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">User Allowances</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="">

            <div class="row justify-content-end m-0">
              <button (click)="open(allowanceModal)" class="btn btn-raised btn-raised btn-primary">
                <i class="ft-plus"></i> Add Allowance
              </button>
            </div>

            <ngx-datatable class="bootstrap striped" [rows]="allowanceDetails" loadingIndicator="true"
              [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
              reorderable="true">
              <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}"
                prop="{{column.prop}}">
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='No'" let-rowIndex="rowIndex"
                  ngx-datatable-cell-template>
                  <span>
                    {{rowIndex + 1}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Allowance'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.allowance_type.options}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'User'" ngx-datatable-cell-template>
                  <span>
                    {{row.user.first_name+" "+row.user.last_name}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Value'" ngx-datatable-cell-template>
                  <span>
                    {{row.value}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Remarks'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.remarks}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'"
                  ngx-datatable-cell-template>
                  <div class="col" style="position: absolute;">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                        <button (click)="delete(row.id)" class="dropdown-item">Delete</button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>

          <ng-template #allowanceModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Allowances</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="allowanceForm" class="form">
                <div class="form-body">

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="issueinput5">User</label>
                        <ng-select [items]="users" bindLabel="name" bindValue="id" formControlName="user_id">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="projectinput3">Allowance Type</label>
                        <ng-select [items]="allowanceTypes" bindLabel="name" bindValue="id"
                          formControlName="allowance_type_id">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="projectinput3">Option</label>
                        <ng-select [items]="valueType" bindLabel="name" bindValue="id" formControlName="value_type">
                        </ng-select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="issueinput5">Value</label>
                        <input type="number" class="form-control" formControlName="value">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="projectinput3">Remarks</label>
                        <input type="text" class="form-control" formControlName="remarks">

                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" formControlName="is_monthly" class="custom-control-input"
                          id="customControlAutosizing">
                        <label class="custom-control-label" for="customControlAutosizing">(Monthly)</label>
                      </div>
                    </div>

                  </div>

                </div>

                <div class="form-actions right">
                  <!-- <button type="button" (click)="resetForm()" class="btn btn-raised btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button> -->

                  <button [disabled]="allowanceForm.invalid" type="button" (click)="addAllowance()"
                    class="btn btn-raised btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                  </button>
                </div>
              </form>
            </div>

          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>