<div class="row m-0">
  <div class="col-12">
    <div id="hiring" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Hiring Request</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="">

            <!-- <div class="row mx-0 my-2">
              <div class="col-md-4">
                <select id="issueinput5" name="priority" class="form-control"(change)="onChangeSelect($event)"
                  data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority">
                  <option selected disabled value="-1">Select System Variable</option>
                  <option *ngFor="let DBVariable of DBVariables" [value]="DBVariable.id">{{DBVariable.type}}
                  </option>
                </select>
              </div>
            </div> -->

            <div class="row justify-content-end m-0">
              <button (click)="open(hiringModal)" class="btn btn-raised btn-raised btn-primary">
                <i class="ft-plus"></i> Add Hiring Request
              </button>
            </div>

            <ngx-datatable class="bootstrap striped" [rows]="hiringDetails" loadingIndicator="true" [columns]="columns"
              [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" reorderable="true">
              <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}"
                prop="{{column.prop}}">
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='No'" let-rowIndex="rowIndex"
                  ngx-datatable-cell-template>
                  <span>
                    {{rowIndex + 1}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Job title'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.job_title}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Job description'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.job_description}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Reason'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.reason}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Date'" ngx-datatable-cell-template>
                  <span>
                    {{row.date}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Department'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.department?.name}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Status'"
                  ngx-datatable-cell-template>
                  <div *ngIf="row.status == 1" class="approved">
                    {{"Accepted"}}
                  </div>
                  <div *ngIf="row.status == 0" class="rejected">
                    {{"Rejected"}}
                  </div>
                  <div *ngIf="row.status == 2" class="inprogress">
                    {{"Inprogress"}}
                  </div>

                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'"
                  ngx-datatable-cell-template>
                  <div class="col" style="position: absolute;">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                        <button (click)="open(hiringModal,row.id)" class="dropdown-item">Edit</button>
                        <button (click)="changeStatus(row.id,'1')" class="dropdown-item">Approve</button>
                        <button (click)="changeStatus(row.id,'0')" class="dropdown-item">Reject</button>
                      </div>
                    </div>
                  </div>

                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>

          <ng-template #hiringModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Hiring Request</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="hiringForm" class="form">
                <div class="form-body">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="issueinput5">Job Title</label>
                        <input formControlName="job_title" type="text" id="projectinput3" class="form-control">

                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="projectinput3">Job Description</label>
                        <textarea formControlName="job_description" id="projectinput3" class="form-control"></textarea>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="form-group">
                          <label for="projectinput3">Date</label>
                          <input formControlName="date" type="date" id="projectinput3" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="issueinput5">Reason</label>
                        <textarea formControlName="reason" id="projectinput3" class="form-control"></textarea>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="form-actions right">
                  <!-- <button type="button" (click)="resetForm()" class="btn btn-raised btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button> -->

                  <button [disabled]="hiringForm.invalid" type="button" (click)="addhiringDetails()"
                    class="btn btn-raised btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                  </button>
                </div>
              </form>
            </div>

          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>