<div class="row my-3">
  <div class="col-12 col-md-6 col-lg-4">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="icon-present font-small-3"></i> Birthday:</a></span>
        <span class="d-block overflow-hidden">June 10th, 1988</span>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-map-pin font-small-3"></i> Birthplace:</a></span>
        <span class="d-block overflow-hidden">New Jersey, USA</span>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-globe font-small-3"></i> Lives in:</a></span>
        <span class="d-block overflow-hidden">Denver, USA</span>
      </li>
    </ul>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-user font-small-3"></i> Gender:</a></span>
        <span class="d-block overflow-hidden">Male</span>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> Email:</a></span>
        <a class="d-block overflow-hidden">jose@yourmail.com</a>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-monitor font-small-3"></i> Website:</a></span>
        <a class="d-block overflow-hidden">pixinvent.com</a>
      </li>
    </ul>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-smartphone font-small-3"></i> Phone Number:</a></span>
        <span class="d-block overflow-hidden">(012) 345 - 678 - 9910</span>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-briefcase font-small-3"></i> Occupation:</a></span>
        <span class="d-block overflow-hidden">Ninja Developer</span>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-book font-small-3"></i> Joined:</a></span>
        <span class="d-block overflow-hidden">April 1st, 2012</span>
      </li>
    </ul>
  </div>
</div>
<hr>