<div class="row m-0">
  <div class="col-12">
    <div id="role" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Notifications</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div *ngIf="notifications.length == 0" class="text-center">
            No Notifications
          </div>

          <div class="list-group">
            <a *ngFor="let notification of notifications" (click)="readNotification(notification.id,notification.path)"
              [ngClass]="(notification.is_read == 0)? 'dropdown-item bg-light noti-container py-3 border-bottom border-bottom-blue-grey border-bottom-lighten-4': 'dropdown-item  noti-container py-3 border-bottom border-bottom-blue-grey border-bottom-lighten-4'">
              <i class="ft-bell info float-left d-block font-large-1 mt-1 mr-2"></i>
              <span class="noti-wrapper">
                <span class="noti-title line-height-1 d-block text-bold-400 info">{{notification.title}}</span>
                <div class="row justify-content-between">
                  <span class="noti-text">{{notification.message}}</span>
                  <span style="font-size: 12px;" >{{notification.date}}</span>
                </div>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>