<div class="row m-0">
  <div class="col-12">
    <div id="Employee" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Employee List</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div>
            <!-- <div *ngIf="rows.length == 0">
              Loading...
            </div> -->
            <div class="">

              <form>
                <div class="row m-0">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="projectinput3">First Name</label>
                      <input [(ngModel)]="searchOption.first_name" name="first_name" type="text" id="projectinput3"
                        class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="projectinput3">Last Name</label>
                      <input [(ngModel)]="searchOption.last_name" name="last_name" type="text" id="projectinput3"
                        class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="projectinput3">Employee number</label>
                      <input [(ngModel)]="searchOption.employee_number" name="employee_number" type="text"
                        id="projectinput3" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="projectinput3">Email</label>
                      <input [(ngModel)]="searchOption.email" name="email" type="text" id="projectinput3"
                        class="form-control">
                    </div>
                  </div>
                </div>

                <div class="row m-0">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="projectinput3">CNIC</label>
                      <input [(ngModel)]="searchOption.cnic" name="cnic" type="text" id="projectinput3"
                        class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="projectinput3">City</label>
                      <input [(ngModel)]="searchOption.City" name="city" type="text" id="projectinput3"
                        class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="projectinput3">Status</label>
                      <ng-select [items]="statusType" bindLabel="name" bindValue="id"
                        [(ngModel)]="searchOption.is_active" name="status">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="projectinput3">Gender</label>
                      <ng-select [items]="genderTypes" bindLabel="name" bindValue="id" [(ngModel)]="searchOption.gender"
                        name="gender">
                      </ng-select>
                    </div>
                  </div>
                </div>

                <div class="row m-0">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="projectinput3">Employee Type</label>
                      <ng-select [items]="employeeType" bindLabel="options" bindValue="id"
                        [(ngModel)]="searchOption.employee_type_id" name="employeeType">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="projectinput3">Department</label>
                      <ng-select [items]="departments" bindLabel="name" bindValue="id"
                        [(ngModel)]="searchOption.department_id" name="department">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="projectinput3">Unit</label>
                      <ng-select [items]="units" bindLabel="name" bindValue="id" [(ngModel)]="searchOption.unit_id"
                        name="units">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="projectinput3">Designation</label>
                      <ng-select [items]="designations" bindLabel="title" bindValue="id"
                        [(ngModel)]="searchOption.designation_id" name="designations">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </form>

              <div class="row justify-content-end m-0">
                <button (click)="resetSearch()" class="btn btn-raised btn-raised btn-success mx-1">
                  <i class="ft-refresh-cw"></i> Reset
                </button>
                <button (click)="search()" class="btn btn-raised btn-raised btn-warning mx-1">
                  <i class="ft-search"></i> Search
                </button>
                <a routerLink="/user" class="btn btn-raised btn-raised mx-1 btn-primary">
                  <i class="ft-plus"></i> Add Employee
                </a>
              </div>

              <ngx-datatable class="bootstrap striped" [scrollbarV]="true" [virtualization]="false" [rows]="rows"
                [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [limit]="10" [rowHeight]="'60'" >

                <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}"
                  prop="{{column.prop}}">
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" *ngIf="column.name==='No'"
                    ngx-datatable-cell-template>
                    <span>
                      {{rowIndex+1}}
                    </span>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" *ngIf="column.name==='Employee Number'"
                    ngx-datatable-cell-template>
                    <span>
                      {{row.employee_number}}
                    </span>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" *ngIf="column.name==='Name'" ngx-datatable-cell-template>
                    <span>
                      {{row.first_name+" "+row.last_name}}
                    </span>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" *ngIf="column.name==='Username'"
                    ngx-datatable-cell-template>
                    <span>
                      {{row.system_detail.username}}
                    </span>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" *ngIf="column.name==='Phone'"
                    ngx-datatable-cell-template>
                    <span>
                      {{row.contact_number}}
                    </span>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" *ngIf="column.name==='E-mail'"
                    ngx-datatable-cell-template>
                    <span>
                      {{row.email}}
                    </span>
                  </ng-template>
                  <ngx-datatable-column>
                    <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'"
                      ngx-datatable-cell-template>
                      <div class="col" style="position: absolute;">
                        <div ngbDropdown class="d-inline-block">
                          <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle></button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                            <button (click)="gotoProfile(row.id)" class="dropdown-item">View Profile</button>
                            <button (click)="gotoEditProfile(row.id)" class="dropdown-item">Edit Profile</button>
                            <div class="dropdown-divider"></div>
                            <button *ngIf="row.is_active == 1" (click)="changeStatus(row.id,0)"
                              class="dropdown-item">Inactive</button>
                            <button *ngIf="row.is_active == 0" (click)="changeStatus(row.id,1)"
                              class="dropdown-item">Active</button>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <!-- <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'"
                    ngx-datatable-cell-template>

                    <div class="row m-0 align-items-center justify-content-around">
                      <button (click)="gotoProfile(row.id)" class="btn btn btn-raised btn-warning"><i
                          class="rb-ic rb-ic-add-frame"></i>
                        View Profile
                      </button>
                      <button (click)="gotoEditProfile(row.id)" class="btn btn-raised btn-primary"><i
                          class="rb-ic rb-ic-add-frame"></i>
                        Edit Profile
                      </button>
                    </div>
                  </ng-template> -->
                </ngx-datatable-column>

              </ngx-datatable>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>