.approved{
    background-color: green;
    width: 70px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rejected{
    background-color: red;
    width: 70px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pending{
    background-color: rgb(103, 103, 238);
    width: 70px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inprocess{
    background-color: orange;
    width: 70px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}