<div class="row m-0">
  <div class="col-12">
    <div id="role" class="card">
     
      <div class="card-content">
        <div class="card-body">
          <div>
            <div *ngIf="rows.length == 0">
              Loading...
            </div>
           

            <ngx-datatable *ngIf="rows.length > 0" class="bootstrap expandable" [rows]="rows" [loadingIndicator]="true"
              [rowHeight]="50" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50">
              <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}"
                prop="{{column.prop}}">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" *ngIf="column.name==='No'" ngx-datatable-cell-template>
                  <span>
                    {{rowIndex+1}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='From'" ngx-datatable-cell-template>
                  <span>
                    {{row.from.name}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='To'" ngx-datatable-cell-template>
                  <span>
                    {{row.to.name}}
                  </span>
                </ng-template>
              


                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Name'" ngx-datatable-cell-template>
                  <span>
                    {{row.user.first_name +' '+row.user.last_name}}
                  </span>
                </ng-template>
                


                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Date'" ngx-datatable-cell-template>
                  <span>
                    {{row.request_date}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Status'" ngx-datatable-cell-template>
                  <div *ngIf="row.status == 1" class="approved">
                    {{"Approved"}}
                  </div>
                  <div *ngIf="row.status == 0" class="rejected">
                    {{"Rejected"}}
                  </div>
                  <div *ngIf="row.status == 2" class="pending">
                    {{"Pending"}}
                  </div>
               
                </ng-template>
                
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>