<div class="row m-0">
  <div class="col-12">
    <div id="Employee" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Requests List</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div>
            <!-- <div *ngIf="rows.length == 0">
              Loading...
            </div> -->
            <div class="">

              <!-- <div class="row justify-content-end m-0">
                <a routerLink="/user" class="btn btn-raised btn-raised btn-primary">
                  <i class="ft-plus"></i> Add Employee
                </a>
              </div> -->

              <ngx-datatable class="bootstrap striped" [rows]="rows" [loadingIndicator]="loadingIndicator"
                [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'60'"
                [reorderable]="reorderable">

                <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}"
                  prop="{{column.prop}}">
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" *ngIf="column.name==='No'" ngx-datatable-cell-template>
                    <span>
                      {{rowIndex+1}}
                    </span>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" *ngIf="column.name==='Employee'"
                    ngx-datatable-cell-template>
                    <span>
                      {{row.user.first_name+" "+row.user.last_name}}
                    </span>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" *ngIf="column.name==='Request Date'" ngx-datatable-cell-template>
                    <span>
                      {{row.request_date}}
                    </span>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" *ngIf="column.name==='To'"
                    ngx-datatable-cell-template>
                    <span>
                      {{row.to.name}}
                    </span>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" *ngIf="column.name==='From'"
                    ngx-datatable-cell-template>
                    <span>
                      {{row.from.name}}
                    </span>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" *ngIf="column.name==='Status'"
                  ngx-datatable-cell-template>
                  <div *ngIf="row.status == 1" class="approved">
                    {{"Approved"}}
                  </div>
                  <div *ngIf="row.status == 0" class="rejected">
                    {{"Rejected"}}
                  </div>
                  <div *ngIf="row.status == 2" class="pending">
                    {{"Pending"}}
                  </div>
                </ng-template>
                  <ngx-datatable-column>
                    <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'"
                      ngx-datatable-cell-template>
                      <div class="col" *ngIf='row.next_inline.id == _id' style="position: absolute;">
                        <div ngbDropdown class="d-inline-block">
                          <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle></button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                            <button (click)="open(optionModal,row.id)" class="dropdown-item">Reject</button>
                            <button (click)="accept(row.id)" class="dropdown-item">Approve</button>
                            <div class="dropdown-divider"></div>
                            <button *ngIf="row.is_active == 1" (click)="changeStatus(row.id,0)"
                              class="dropdown-item">Inactive</button>
                            <button *ngIf="row.is_active == 0" (click)="changeStatus(row.id,1)"
                              class="dropdown-item">Active</button>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <!-- <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'"
                    ngx-datatable-cell-template>

                    <div class="row m-0 align-items-center justify-content-around">
                      <button (click)="gotoProfile(row.id)" class="btn btn btn-raised btn-warning"><i
                          class="rb-ic rb-ic-add-frame"></i>
                        View Profile
                      </button>
                      <button (click)="gotoEditProfile(row.id)" class="btn btn-raised btn-primary"><i
                          class="rb-ic rb-ic-add-frame"></i>
                        Edit Profile
                      </button>
                    </div>
                  </ng-template> -->
                </ngx-datatable-column>

              </ngx-datatable>

            </div>
            <ng-template #optionModal let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Reason</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="rejectForm" class="form">
                  <div class="form-body">
  
                    <div class="row" >
                      <div class="col-12 form-group">
        
                        <textarea class="form-control" rows="5" id="comment" formControlName="reason" ></textarea>
        
                      </div>
        
                      
                    </div>
  
                  </div>
  
                  <div class="form-actions right">
                    <!-- <button type="button" (click)="resetForm()" class="btn btn-raised btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button> -->
  
                    <button type="button" (click)="saveReject()"
                      class="btn btn-raised btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Save
                    </button>
                  </div>
                </form>
              </div>
  
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


