<div class="row m-0">
  <div class="col-12">
    <div id="role" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Payslip</h4>
      </div>
      <div class="card-content">
        <div class="card-body">

          <div class="row mx-0 my-2">
            <div class="col-md-4">
              <label>Month</label>
              <input type="month" class="form-control" [value]="selectedMonth" (change)="monthChange($event)">
            </div>
          </div>

          <hr>

          <!-- <div id="print-section"> -->
          <div id="pdfarea" #pdfarea>
            <div class="row my-2">
              <div class="col-md-3 col-sm-6 col-6 lead font-weight-bold">
                Employee Name:
              </div>
              <div class="col-md-2 col-sm-6 col-6">
                {{payroll?.user?.first_name+" "+payroll?.user?.last_name}}
              </div>
            </div>

            <div class="row my-2">
              <div class="col-md-3 col-sm-6 col-6 lead font-weight-bold">
                contact:
              </div>
              <div class="col-md-2 col-sm-6 col-6">
                {{payroll?.user?.contact_number}}
              </div>
            </div>

            <div class="row my-2">
              <div class="col-md-3 col-sm-6 col-6 lead font-weight-bold">
                CNIC:
              </div>
              <div class="col-md-2 col-sm-6 col-6">
                {{payroll?.user?.cnic}}
              </div>
            </div>

            <div class="row my-2">
              <div class="col-md-3 col-sm-6 col-6 lead font-weight-bold">
                Gender:
              </div>
              <div class="col-md-2 col-sm-6 col-6">
                {{payroll?.user?.gender}}
              </div>
            </div>

            <div class="row my-2">
              <div class="col-md-3 col-sm-6 col-6 lead font-weight-bold">
                Department:
              </div>
              <div class="col-md-2 col-sm-6 col-6">
                {{payroll?.user?.employment_details?.department?.name }}
              </div>
            </div>

            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Earnings</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Salary</th>
                  <td>{{payroll?.employee_salary}}</td>
                </tr>
                <tr *ngFor="let bonus of bonuses">
                  <th>{{bonus.type.options}}</th>
                  <td>{{bonus.amount}}</td>
                </tr>
                <tr>
                  <th>Total Earings</th>
                  <td>{{payroll?.all_additions}}</td>
                </tr>
              </tbody>
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Reductions</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let deduction of deductions">
                  <th>{{deduction.type.options}}</th>
                  <td>{{deduction.amount}}</td>
                </tr>
                <tr *ngFor="let fine of fines">
                  <th>{{fine.type.options}}</th>
                  <td>{{fine.amount}}</td>
                </tr>
                <tr>
                  <th>Total Reductions</th>
                  <td>{{payroll?.all_reductions}}</td>
                </tr>
              </tbody>
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Net Salary</th>
                  <th>{{payroll?.net_salary}}</th>
                </tr>
              </thead>
            </table>
          </div>
          <form class="form">
            <div class="form-actions right">
              <button (click)="downloadPdf()" type="button" class="btn btn-raised btn-raised btn-primary mx-1">
                <i class="fa fa-check-square-o"></i> Download Pdf
              </button>
              <!-- <button (click)="print()" type="button" class="btn btn-raised btn-raised btn-primary mx-1">
                <i class="fa fa-check-square-o"></i> Print
              </button> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>