<div class="permission-list">
  <div class="row justify-content-end m-0">
    <button (click)="open(permissionModal)" class="btn btn-raised btn-raised btn-primary">
      <i class="ft-plus"></i> Assign Permission
    </button>
  </div>

  <div class="row mx-0 my-2">
    <div class="col-md-4">
      <label>Roles</label>
      <ng-select [items]="roles" bindLabel="name" bindValue="id" (change)="onRoleChange($event)">
      </ng-select>
    </div>
  </div>

  <ngx-datatable class="bootstrap striped" [rows]="rolePermissionDetails" [loadingIndicator]="loadingIndicator"
    [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
    [reorderable]="reorderable">

    <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='No'" let-rowIndex="rowIndex"
        ngx-datatable-cell-template>
        <span>
          {{rowIndex + 1}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Assigned Permission'"
        ngx-datatable-cell-template>
        <span>
          {{row.name}}
        </span>
      </ng-template>

      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'" ngx-datatable-cell-template>
        <div class="col" style="position: absolute;">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
              <button (click)="removePermission(row.id)" class="dropdown-item">Remove</button>
            </div>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <ng-template #permissionModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Permission</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="permissionForm" class="form">
        <div class="form-body">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="projectinput3">Roles</label>
                <ng-select [items]="roles" bindLabel="name" bindValue="id" formControlName="role_id">
                </ng-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="projectinput3">Permissions</label>
                <ng-select [items]="permissions" bindLabel="name" bindValue="id" formControlName="permission_id">
                </ng-select>
              </div>
            </div>
          </div>

          <div class="form-actions right">
            <button [disabled]="permissionForm.invalid" type="button" (click)="addRolePermission()"
              class="btn btn-raised btn-raised btn-primary">
              <i class="fa fa-check-square-o"></i> Save
            </button>
          </div>
        </div>
      </form>
    </div>

  </ng-template>
</div>