<div class="row m-0">
  <div class="col-12">
    <div id="role" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Unit List</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div>
            <div *ngIf="loadingState">
              Loading...
            </div>
            <div *ngIf="!loadingState" class="row justify-content-end m-0">
              <a routerLink="/unit/add" class="btn btn-raised btn-raised btn-primary">
                <i class="ft-plus"></i> Create Unit
              </a>
            </div>
            <ngx-datatable *ngIf="!loadingState" class="bootstrap expandable" [rows]="rows" [loadingIndicator]="true"
              [rowHeight]="70" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50">
              <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}"
                prop="{{column.prop}}">
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='No'" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>
                    {{rowIndex + 1}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Name'" ngx-datatable-cell-template>
                  <span>
                    {{row.name}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Email'" ngx-datatable-cell-template>
                  <span>
                    {{row.email}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Phone'" ngx-datatable-cell-template>
                  <span>
                    {{row.phone}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Prefix'" ngx-datatable-cell-template>
                  <span>
                    {{row.prefix}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Type'" ngx-datatable-cell-template>
                  <span>
                    {{row?.unit_type?.options}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Start Time'" ngx-datatable-cell-template>
                  <span>
                    {{row.shift_start}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='End Time'" ngx-datatable-cell-template>
                  <span>
                    {{row.shift_end}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Week Start'" ngx-datatable-cell-template>
                  <span>
                    {{row.week_start}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Address'" ngx-datatable-cell-template>
                  <span>
                    {{row.address}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'"
                  ngx-datatable-cell-template>
                  <div class="col" style="position: absolute;">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                        <button class="dropdown-item">Edit</button>
                        <button (click)="deleteUnit(row.id)" class="dropdown-item">Delete</button>
                        <!-- <div class="dropdown-divider"></div>
                        <button *ngIf="row.is_active == 1" (click)="changeStatus(row.id,0)"
                          class="dropdown-item">Inactive</button>
                        <button *ngIf="row.is_active == 0" (click)="changeStatus(row.id,1)"
                          class="dropdown-item">Active</button> -->
                      </div>
                    </div>
                  </div>
                 
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>