<div class="row m-0">
  <div class="col-12">
    <div id="role" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Payroll Sheet</h4>
      </div>
      <div class="card-content">
        <div class="card-body">

          <div class="col-md-3">
            <div class="row mx-0 my-2">
              <label>Month</label>
              <input type="month" class="form-control" [value]="selectedMonth" (change)="monthChange($event)">
            </div>
          </div>
          <div class="col-md-9">
            <div class="row mx-0 my-2">
              <div class="col-md-3 col-sm-12 col-xs-12 d-flex justify-content-start align-items-end">
                <button (click)="generatePayroll()" type="button" class="btn btn-raised btn-raised btn-primary my-0">
                  <i class="fa fa-check-square-o"></i> Generate Payroll
                </button>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 d-flex justify-content-start align-items-end">
                <button (click)="savePayroll()" type="button" class="btn btn-raised btn-raised btn-primary my-0">
                  <i class="fa fa-check-square-o"></i>Save Payroll
                </button>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 d-flex justify-content-start align-items-end">
                <button (click)="lockPayroll()" type="button" class="btn btn-raised btn-raised btn-primary my-0">
                  <i class="fa fa-check-square-o"></i> Lock Payroll
                </button>
              </div>
            </div>
          </div>
          <hr>
          <!-- <div id="print-section"> -->
          <div id="pdfarea" #pdfarea>
            <ngx-datatable class="bootstrap striped" [rows]="payrollSheet" [loadingIndicator]="loadingIndicator"
              [columns]="columns" [reorderable]="reorderable" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="'auto'" reorderable="true">
              <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}"
                [canAutoResize]="true" prop="{{column.prop}}">
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='No'" let-rowIndex="rowIndex"
                  ngx-datatable-cell-template>
                  <span>
                    {{rowIndex + 1}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Employee'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.employee_name}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Salary'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.employee_salary}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Bonuses'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.employee_bonuses}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Fines'" ngx-datatable-cell-template>
                  <span>
                    {{row.employee_fines}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Deductions'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.employee_deductions}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Allowances'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.employee_allowances}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Loans'" ngx-datatable-cell-template>
                  <span>
                    {{row.employee_loans}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Net Salary'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.net_salary}}
                  </span>
                </ng-template>

                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'"
                  ngx-datatable-cell-template>
                  <div class="col " style="position: absolute;">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                        <button *ngIf="row.status != '1' && row.id != null" (click)="open(deductionModal,row.id)"
                          class="dropdown-item">Edit</button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>
          <form class="form">
            <div class="form-actions right">
              <!-- <button (click)="downloadPdf()" type="button" class="btn btn-raised btn-raised btn-primary mx-1">
                <i class="fa fa-check-square-o"></i> Download Pdf
              </button> -->
              <!-- <button (click)="print()" type="button" class="btn btn-raised btn-raised btn-primary mx-1">
                <i class="fa fa-check-square-o"></i> Print
              </button> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>