<div class="row my-3">
  <div class="col-12 col-md-4 col-lg-4">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="icon-present font-small-3"></i> Employee Type:</a></span>
        <span class="d-block overflow-hidden">{{employmentDetail?.employee_type}}</span>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-map-pin font-small-3"></i> Salary:</a></span>
        <span class="d-block overflow-hidden">{{employmentDetail?.salary}}</span>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-globe font-small-3"></i>Unit:</a></span>
        <span class="d-block overflow-hidden">head office</span>
      </li>
    </ul>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-user font-small-3"></i> Quit Date:</a></span>
        <span class="d-block overflow-hidden">{{employmentDetail?.quit_date}}</span>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> Grade:</a></span>
        <a class="d-block overflow-hidden">{{employmentDetail?.grade}}</a>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-monitor font-small-3"></i> Designation:</a></span>
        <a class="d-block overflow-hidden">developer</a>
      </li>
    </ul>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-smartphone font-small-3"></i> Confirmation Date:</a></span>
        <span class="d-block overflow-hidden">{{employmentDetail?.confirmation_date}}</span>
      </li>
  
    </ul>
  </div>
</div>
<hr>