<div class="row m-0">
  <div class="col-12">
    <div id="role" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Department List</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div>
            <div *ngIf="loadingState">
              Loading...
            </div>
            <div *ngIf="!loadingState" class="row justify-content-end m-0">
              <a routerLink="/department/add" class="btn btn-raised btn-raised btn-primary">
                <i class="ft-plus"></i> Create Department
              </a>
            </div>
            <ngx-datatable *ngIf="rows.length > 0" class="bootstrap expandable" [rows]="rows" [loadingIndicator]="true"
              [rowHeight]="70" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [limit]="10">
              <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}"
                prop="{{column.prop}}">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" *ngIf="column.name==='No'"
                  ngx-datatable-cell-template>
                  <span>
                    {{rowIndex+1}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Name'" ngx-datatable-cell-template>
                  <span>
                    {{row.name}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Code'" ngx-datatable-cell-template>
                  <span>
                    {{row.code}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Prefix'" ngx-datatable-cell-template>
                  <span>
                    {{row.prefix}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Manager'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.manager?.first_name+ " "+row.manager?.last_name}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'"
                  ngx-datatable-cell-template>

                  <div class="col" style="position: absolute;">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                        <button (click)="editDepartment(row.id)" class="dropdown-item">Edit</button>
                        <button (click)="deleteDepartment(row.id)"  class="dropdown-item">Delete</button>
                      </div>
                    </div>
                  </div>

                
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>