<div class="row m-0">
  <div class="col-12">
    <div id="interview" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Interviews List</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="">

            <!-- <div class="row mx-0 my-2">
              <div class="col-md-4">
                <select id="issueinput5" name="priority" class="form-control"(change)="onChangeSelect($event)"
                  data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority">
                  <option selected disabled value="-1">Select System Variable</option>
                  <option *ngFor="let DBVariable of DBVariables" [value]="DBVariable.id">{{DBVariable.type}}
                  </option>
                </select>
              </div>
            </div> -->

            <!-- <div class="row justify-content-end m-0">
              <button (click)="open(interviewModal)" class="btn btn-raised btn-raised btn-primary">
                <i class="ft-plus"></i> Add Job Post
              </button>
            </div> -->

            <ngx-datatable class="bootstrap striped" [rows]="inteviews" loadingIndicator="true" [columns]="columns"
              [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'70'" reorderable="true">
              <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}"
                prop="{{column.prop}}">
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='No'" let-rowIndex="rowIndex"
                  ngx-datatable-cell-template>
                  <span>
                    {{rowIndex + 1}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Interview date'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.interview_date}}
                  </span>
                </ng-template>

                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Interview time'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.interview_time}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Test details'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.test_details}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Interview details'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.interview_details}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'CV'" ngx-datatable-cell-template>
                  <span>
                    {{row.cv?.name}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Panel'" ngx-datatable-cell-template>
                  <ul>
                    <li *ngFor="let name of row.panel">{{name.interviewers.first_name}}</li>
                  </ul>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Status'"
                  ngx-datatable-cell-template>
                  <div *ngIf="row.status == 1" class="approved">
                    {{"Accepted"}}
                  </div>
                  <div *ngIf="row.status == 0" class="rejected">
                    {{"Rejected"}}
                  </div>
                  <div *ngIf="row.status == 2" class="inprogress">
                    {{"To be held"}}
                  </div>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'"
                  ngx-datatable-cell-template>
                  <div class="col" style="position: absolute;">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                        <button *ngIf="row.status == '2'" (click)="open(inteviewModal,row.id)"
                          class="dropdown-item">Edit</button>
                        <button *ngIf="row.status == '2'" (click)="changeStatus(row.id,'1')"
                          class="dropdown-item">Approve</button>
                        <button *ngIf="row.status == '2'" (click)="changeStatus(row.id,'0')"
                          class="dropdown-item">Reject</button>
                      </div>
                    </div>
                  </div>

                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>

          <ng-template #inteviewModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Interview Line Up</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="interviewForm" class="form">
                <div class="form-body">

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="projectinput3">Interview Date</label>
                        <input formControlName="interview_date" type="date" id="projectinput3" class="form-control">

                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="projectinput3">Interview Time</label>
                        <input formControlName="interview_time" type="time" id="projectinput3" class="form-control">

                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="projectinput3">Line ups</label>
                        <ng-select [items]="users" bindLabel="name" [multiple]='"true"' bindValue="id"
                          formControlName="interview_panel">
                        </ng-select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="issueinput5">Test Details</label>
                        <textarea formControlName="test_details" type="date" id="projectinput3"
                          class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="projectinput3">Interview Details</label>
                        <textarea formControlName="interview_details" type="date" id="projectinput3"
                          class="form-control"></textarea>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="form-actions right">
                  <!-- <button type="button" (click)="resetForm()" class="btn btn-raised btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button> -->

                  <button [disabled]="interviewForm.invalid" type="button" (click)="addinterviews()"
                    class="btn btn-raised btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                  </button>
                </div>
              </form>
            </div>

          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>