<div class="row my-3">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> Qualification :</a></span>
        <span class="d-block overflow-hidden">{{employeeEducationDetail?.qualification}}</span>
      
      </li>
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Institute :</a></span>
        <span class="d-block overflow-hidden">{{employeeEducationDetail?.institute}}</span>
        
      </li>
    </ul>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Starting Date : </a></span>
        <span class="d-block overflow-hidden">{{employeeEducationDetail?.starting_date}}</span>
      </li>
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Passing Date :</a></span>
        <span class="d-block overflow-hidden">{{employeeEducationDetail?.passing_date}}</span>
       
      </li>
    </ul>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Majors : </a></span>
        <span class="d-block overflow-hidden">{{employeeEducationDetail?.majors}}</span>
      </li>
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Grade :</a></span>
        <span class="d-block overflow-hidden">{{employeeEducationDetail?.grade}}</span>
       
      </li>
    </ul>
  </div>

</div>
<hr>

