<div class="row m-0">
  <div class="col-12">
    <div id="role" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Mark Attendence</h4>
      </div>
      <form [formGroup]="markAttendence">
        <div class="card-content">
          <div class="card-body" style="letter-spacing: 2px;">
            <div class="row ">
              <div class="col-4 form-group">
                <label for="projectinput1">Employee</label>

                <ng-select [items]="dropDownEmployee" bindLabel="name" bindValue="id" formControlName="user_id">
                </ng-select>
              </div>
              <div class="col-4 form-group">
                <label for="projectinput1">Date</label>
                <input type="date" class="form-control" (change)="dateChange($event)" formControlName="date">
              </div>
              <div class="col-4">

                <div class="custom-control custom-checkbox mt-sm-4">
                  <input type="checkbox" formControlName="isPresent" (change)="isChecked($event)"
                    class="custom-control-input" id="customControlAutosizing">
                  <label class="custom-control-label" for="customControlAutosizing">(Present)</label>
                </div>
              </div>


            </div>
            <div class="row" *ngIf="addTimeInOut">
              <div class="col-4 form-group">
                <label for="projectinput1">Time In</label>

                <input type="time" formControlName="time_in" class="form-control">

              </div>

              <div class="col-4 form-group">
                <label for="projectinput1">Time Out</label>

                <input type="time" class="form-control" formControlName="time_out">

              </div>

            </div>


            <div class="form-actions">
              <button class="btn btn-raised  btn-primary float-right" (click)="markAttendencebtn()">Mark
                Attendence</button>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>