<div class="row m-0">
  <div class="col-12">
    <div id="Employee" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Probation List</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div>
            
            
            <div class="">

              <ngx-datatable class="bootstrap striped" [rows]="rows" [loadingIndicator]="loadingIndicator"
                [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [limit]="10"
                [rowHeight]="'60'" [reorderable]="reorderable">

                <ngx-datatable-column *ngFor="let column of columns;" name="{{column.name}}" prop="{{column.prop}}">
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" *ngIf="column.name==='No'"
                    ngx-datatable-cell-template>
                    <span>
                      {{rowIndex+1}}
                    </span>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" *ngIf="column.name==='Employee Number'"
                    ngx-datatable-cell-template>
                    <span>
                      {{row.user.employee_number}}
                    </span>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" *ngIf="column.name==='Name'" ngx-datatable-cell-template>
                    <span>
                      {{row.user.first_name+" "+row.user.last_name}}
                    </span>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" *ngIf="column.name==='Username'"
                    ngx-datatable-cell-template>
                    <span>
                      {{row.user.system_detail.username}}
                    </span>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" *ngIf="column.name==='Phone'"
                    ngx-datatable-cell-template>
                    <span>
                      {{row.user.contact_number}}
                    </span>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" *ngIf="column.name==='E-mail'"
                    ngx-datatable-cell-template>
                    <span>
                      {{row.user.email}}
                    </span>
                  </ng-template>
                  <!-- <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'"
                    ngx-datatable-cell-template>

                    <div class="row m-0 align-items-center justify-content-around">
                      <button (click)="gotoProfile(row.id)" class="btn btn btn-raised btn-warning"><i
                          class="rb-ic rb-ic-add-frame"></i>
                        View Profile
                      </button>
                      <button (click)="gotoEditProfile(row.id)" class="btn btn-raised btn-primary"><i
                          class="rb-ic rb-ic-add-frame"></i>
                        Edit Profile
                      </button>
                    </div>
                  </ng-template> -->
                </ngx-datatable-column>

              </ngx-datatable>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>