<div class="row m-0">
  <div class="col-12">
    <div id="role" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Create Designation</h4>
      </div>
      <div class="card-content">
        <div class="card-body" style="letter-spacing: 2px;">

          <a routerLink="/role/list">
            <i class="ft-chevron-left" style="color: #75787d; font-size: 15px;"></i><span
              style="color:#75787d;">Back</span>
          </a>
          <form>
            <h4 class="form-section"></h4>
          </form>
          <div *ngIf="formError" class="alert alert-danger" role="alert">
            {{formError}}
          </div>
          
          <form [formGroup]="dessignationForm" class="form">
            <div class="form-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput1">Designation Name</label>
                    <input type="text" id="projectinput1" formControlName="title" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-actions">
                <button (click)="addDesignation()" [disabled]="dessignationForm.invalid" type="button"
                  class="btn btn-raised btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>