#cv-bank .approved {
    background-color: green;
    width: 85px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cv-bank .rejected {
    background-color: red;
    width: 95px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cv-bank .inprocess{
    background-color: orange;
    width: 85px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}