<div class="row m-0">
  <div class="col-12">
    <div id="cv-bank" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">CV bank</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="">

            <!-- <div class="row mx-0 my-2">
              <div class="col-md-4">
                <select id="issueinput5" name="priority" class="form-control"(change)="onChangeSelect($event)"
                  data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority">
                  <option selected disabled value="-1">Select System Variable</option>
                  <option *ngFor="let DBVariable of DBVariables" [value]="DBVariable.id">{{DBVariable.type}}
                  </option>
                </select>
              </div>
            </div> -->

            <div class="row justify-content-end m-0">
              <button (click)="open(cvModal)" class="btn btn-raised btn-raised btn-primary">
                <i class="ft-plus"></i> Add CV
              </button>
            </div>

            <ngx-datatable class="bootstrap striped" [rows]="cvs" loadingIndicator="true" [columns]="columns"
              [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'70'" reorderable="true">
              <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}"
                prop="{{column.prop}}">
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='No'" let-rowIndex="rowIndex"
                  ngx-datatable-cell-template>
                  <span>
                    {{rowIndex + 1}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'CV'" ngx-datatable-cell-template>
                  <span>
                    {{row.job_title}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Added on'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.date}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Department'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.department?.name}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Status'"
                  ngx-datatable-cell-template>
                  <div *ngIf="row.status == 1" class="approved">
                    {{"Approved"}}
                  </div>
                  <div *ngIf="row.status == 0" class="rejected">
                    {{"Not Approved"}}
                  </div>
                  <div *ngIf="row.status == 2" class="inprocess">
                    {{"In process"}}
                  </div>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'"
                  ngx-datatable-cell-template>
                  <div class="col" style="position: absolute;">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                        <button *ngIf="user_id == row.next_approver"
                          (click)="changeStatus(row.id,'1',row.department_id)" class="dropdown-item">Approve</button>
                        <button *ngIf="user_id == row.next_approver"
                          (click)="changeStatus(row.id,'0',row.department_id)" class="dropdown-item">Disapprove</button>
                        <button (click)="downloadCv(row.path)" class="dropdown-item">Download</button>
                        <button *ngIf="row.status == '1' && user_id == 2" (click)="open(inteviewModal,row.id)"
                          class="dropdown-item">Line Up
                          interview</button>
                      </div>
                    </div>
                  </div>

                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>

          <ng-template #cvModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">CV</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="cvForm" class="form">
                <div class="form-body">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>CV</label>
                        <input type="file" (change)="processCv($event)" formControlName="cv" class="form-control-file"
                          id="projectinput8">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="projectinput3">Name</label>
                        <input formControlName="name" type="text" id="projectinput3" class="form-control">

                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="issueinput5">Added On</label>
                        <input formControlName="date" type="date" id="projectinput3" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="projectinput3">Department</label>
                        <ng-select [items]="departmemts" bindLabel="name" bindValue="id"
                          formControlName="department_id">
                        </ng-select>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="form-actions right">
                  <!-- <button type="button" (click)="resetForm()" class="btn btn-raised btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button> -->

                  <button [disabled]="cvForm.invalid || cv == null" type="button" (click)="addCvPosts()"
                    class="btn btn-raised btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                  </button>
                </div>
              </form>
            </div>

          </ng-template>

          <ng-template #inteviewModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Interview Line Up</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="interviewForm" class="form">
                <div class="form-body">

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="projectinput3">Interview Date</label>
                        <input formControlName="interview_date" type="date" id="projectinput3" class="form-control">

                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="projectinput3">Interview Time</label>
                        <input formControlName="interview_time" type="time" id="projectinput3" class="form-control">

                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="projectinput3">Line ups</label>
                        <ng-select [items]="users" bindLabel="name" [multiple]='"true"' bindValue="id"
                          formControlName="interview_panel">
                        </ng-select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="issueinput5">Test Details</label>
                        <textarea formControlName="test_details" type="date" id="projectinput3"
                          class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="projectinput3">Interview Details</label>
                        <textarea formControlName="interview_details" type="date" id="projectinput3"
                          class="form-control"></textarea>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="form-actions right">
                  <!-- <button type="button" (click)="resetForm()" class="btn btn-raised btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button> -->

                  <button [disabled]="interviewForm.invalid" type="button" (click)="addinterviews()"
                    class="btn btn-raised btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                  </button>
                </div>
              </form>
            </div>

          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>