<div class="row m-0">
  <div class="col-12">
    <div id="user-profile" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">{{titleText}}</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <ngb-tabset>

            <ngb-tab title="Personal">
              <ng-template ngbTabContent>
                <app-personal-details-edit [isEdit]="isEdit" [userId]="userId"></app-personal-details-edit>
              </ng-template>
            </ngb-tab>

            <ngb-tab [disabled]="!userId" title="Employment">
              <ng-template ngbTabContent>
                <app-employment-details-edit [isEdit]="isEdit" [userId]="userId"></app-employment-details-edit>
              </ng-template>
            </ngb-tab>

            <ngb-tab [disabled]="!userId" title="Hiring">
              <ng-template ngbTabContent>
                <app-hiring-details-edit [isEdit]="isEdit" [userId]="userId"></app-hiring-details-edit>
              </ng-template>
            </ngb-tab>

            <ngb-tab [disabled]="!userId" title="Education">
              <ng-template ngbTabContent>
                <app-eductaion-details-edit [isEdit]="isEdit" [userId]="userId"></app-eductaion-details-edit>
              </ng-template>
            </ngb-tab>

            <ngb-tab [disabled]="!userId" title="Experience">
              <ng-template ngbTabContent>
                <app-experience-details-edit [isEdit]="isEdit" [userId]="userId"></app-experience-details-edit>
              </ng-template>
            </ngb-tab>

            <ngb-tab [disabled]="!userId" title="Family Members">
              <ng-template ngbTabContent>
                <app-family-details-edit [isEdit]="isEdit" [userId]="userId"></app-family-details-edit>
              </ng-template>
            </ngb-tab>

            <ngb-tab [disabled]="!userId" title="Emergency Contacts">
              <ng-template ngbTabContent>
                <app-emergency-contacts-edit [isEdit]="isEdit" [userId]="userId"></app-emergency-contacts-edit>
              </ng-template>
            </ngb-tab>

            <ngb-tab [disabled]="!userId" title="Documents">
              <ng-template ngbTabContent>
                <app-user-documents [isEdit]="isEdit" [userId]="userId"></app-user-documents>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>

        </div>
      </div>
    </div>
  </div>
</div>