<div class="row m-0">
  <div class="col-12">
    <div id="role" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Request Transfer</h4>
      </div>
      <form [formGroup]="requestGenerateForm">
        <div class="card-content">
          <div class="card-body" style="letter-spacing: 2px;">
            <div class="row">
              <div class="col-6 form-group">
                <label for="projectinput1">Employee</label>

                <ng-select [items]="dropDownEmployee" bindLabel="name" bindValue="id" formControlName="user_id" >
                </ng-select>
              </div>
              <div class="col-6 form-group">
                <label for="projectinput1">Transfer To</label>
                <ng-select [items]="dropDownTransfer" bindLabel="name" bindValue="id" formControlName="to">
                </ng-select>
              </div>

            </div>
            <div class="row" >
              <div class="col-12 form-group">
                <label for="projectinput1">Reason</label>

                <textarea class="form-control" rows="5" id="comment" formControlName="reason" ></textarea>

              </div>

              
            </div>


            <div class="form-actions">
              <button class="btn btn-raised  btn-primary float-right" (click)="ganerateRequest()">Request</button>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>