<div class="row m-0">
  <div class="col-12">
    <div id="department" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Create Department</h4>
      </div>

      <div class="card-content">
        <div class="px-3">

          <div class="my-2">
            <a class="" routerLink="/department/list">
              <i class="ft-chevron-left" style="color: #75787d; font-size: 15px;"></i><span
                style="color:#75787d;">Back</span>
            </a>
          </div>
          <form>
            <h4 class="form-section"></h4>
          </form>


          <div *ngIf="formError" class="alert alert-danger" role="alert">
            {{formError}}
          </div>

          <form [formGroup]="departmentForm" class="form">
            <div class="form-body">

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput1">Name</label>
                    <input formControlName="name" type="text" id="projectinput1" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput2">Code</label>
                    <input formControlName="code" type="text" id="projectinput2" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="projectinput2">Prefix</label>
                    <input formControlName="prefix" type="text" id="projectinput2" class="form-control">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="projectinput5">Manager</label>
                    <select formControlName="manager_id" id="projectinput5" name="interested" class="form-control">
                      <option value="-1" selected="" disabled="">select</option>
                      <option *ngFor="let manager of managers" [value]="manager.user.id">
                        {{manager.user.first_name+" "+manager.user.last_name}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="projectinput5">Parent Department</label>
                    <select formControlName="parent_id" id="projectinput5" name="interested" class="form-control">
                      <option value="-1" selected="" disabled="">select</option>
                      <option *ngFor="let department of departments" [value]="department.id">{{department.name}}
                      </option>
                    </select>
                  </div>
                </div>

              </div>
            </div>

            <div class="form-actions">
              <button [disabled]="departmentForm.invalid" type="button" (click)="addDepartment()"
                class="btn btn-raised btn-raised btn-primary">
                <i class="fa fa-check-square-o"></i> Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>