<div class="row m-0">
  <div class="col-12">
    <div id="role" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Designation List</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div>
            <div *ngIf="loadingState">
              Loading...
            </div>
            <div *ngIf="!loadingState" class="row justify-content-end m-0">
              <a routerLink="/designation/add" class="btn btn-raised btn-raised btn-primary">
                <i class="ft-plus"></i> Create Designation
              </a>
            </div>
            <ngx-datatable *ngIf="!loadingState" class="bootstrap expandable" [rows]="rows" [loadingIndicator]="true"
              [rowHeight]="50" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50">
              <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}"
                prop="{{column.prop}}">
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='No'" let-rowIndex="rowIndex"
                  ngx-datatable-cell-template>
                  <span>
                    {{rowIndex + 1}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Title'" ngx-datatable-cell-template>
                  <span>
                    {{row.title}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'"
                  ngx-datatable-cell-template>
                  <div class="row m-0 align-items-center justify-content-around">
                    <button  class="btn btn btn-raised btn-info"><i
                        class="rb-ic rb-ic-add-frame"></i>
                      Edit
                    </button>
                    <button (click)="deleteDesignation(row.id)" class="btn btn-raised btn-danger"><i
                        class="rb-ic rb-ic-add-frame"></i>
                      delete
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>