<div class="">

  <form>
    <h4 class="form-section"><i class="ft-user"></i>Education Info</h4>
  </form>

  <div class="row justify-content-end m-0">
    <button (click)="open(educationModal)" class="btn btn-raised btn-raised btn-primary">
      <i class="ft-plus"></i> Add Education
    </button>
  </div>

  <ngx-datatable class="bootstrap striped" [rows]="educationDetails" [loadingIndicator]="loadingIndicator"
    [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
    [reorderable]="reorderable">

    <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Qualification'" ngx-datatable-cell-template>
        <span>
          {{row.qualification != "null" ? row.qualification : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Institute'" ngx-datatable-cell-template>
        <span>
          {{row.institute != "null" ? row.institute : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Start Date'" ngx-datatable-cell-template>
        <span>
          {{row.starting_date != "null" ? row.starting_date : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Grade'" ngx-datatable-cell-template>
        <span>
          {{row.grade != "null" ? row.grade : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Passing Date'" ngx-datatable-cell-template>
        <span>
          {{row.passing_date != "null" ? row.passing_date: ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Majors'" ngx-datatable-cell-template>
        <span>
          {{row.majors != "null" ? row.majors : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Marksheet'" ngx-datatable-cell-template>
        <a (click)="downloadMarksheet(row.marksheet)" target="_self" >
          {{row.marksheet != "null" ? row.marksheet: ""}}
        </a>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Degree'" ngx-datatable-cell-template>
        <a (click)="downloadDegree(row.degree)" >
          {{row.degree != "null" ? row.degree: ""}}
        </a>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'" ngx-datatable-cell-template>

        <div class="col" style="position: absolute;">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
              <button (click)="open(educationModal,row.id)" class="dropdown-item">Edit</button>
              <button (click)="deleteEductaion(row.id)" class="dropdown-item">Delete</button>
            </div>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>


<ng-template #educationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Education</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="educationForm" class="form">
      <div class="form-body">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">Qualification</label>
              <input formControlName="qualification" type="text" id="projectinput3" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">Institute</label>
              <input formControlName="institute" type="text" id="projectinput3" class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="issueinput3">Starting Date</label>
              <input formControlName="starting_date" type="date" id="issueinput3" class="form-control" name="dateopened"
                data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="issueinput3">Passing Date</label>
              <input formControlName="passing_date" type="date" id="issueinput3" class="form-control" name="dateopened"
                data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">Majors</label>
              <input formControlName="majors" type="text" id="projectinput3" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">Grade</label>
              <input formControlName="grade" type="text" id="projectinput3" class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label><span>*</span>Marksheet</label>
              <input type="file" (change)="processMarksheet($event)" formControlName="marksheet"
                class="form-control-file" id="projectinput8">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label><span>*</span>Degree/Certificate</label>
              <input type="file" (change)="processDegree($event)" formControlName="degree" class="form-control-file"
                id="projectinput8">
            </div>
          </div>
        </div>

      </div>
      * Any one document is required.
      <div class="form-actions right">
        <button type="button" (click)="resetForm()" class="btn btn-raised btn-raised btn-warning mr-1">
          <i class="ft-x"></i> Reset
        </button>

        <button [disabled]="!degree && !marksheet" type="button" (click)="addEducationDetails()" class="btn btn-raised btn-raised btn-primary">
          <i class="fa fa-check-square-o"></i> Save
        </button>
      </div>
    </form>
  </div>

</ng-template>