<div class="row mt-3">
  <div class="col-12 col-md-6 col-lg-4">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="icon-present font-small-3"></i> Employee File
            Number:</a></span>
        <span class="d-block overflow-hidden">{{employeeDetails?.employee_number}}</span>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-map-pin font-small-3"></i> E-mail:</a></span>
        <span class="d-block overflow-hidden">{{employeeDetails?.email}}</span>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-globe font-small-3"></i> CNIC:</a></span>
        <span class="d-block overflow-hidden">{{employeeDetails?.cnic}}</span>
      </li>
    </ul>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-user font-small-3"></i> Frist Name:</a></span>
        <span
          class="d-block overflow-hidden">{{employeeDetails?.first_name ? employeeDetails?.first_name: "Not Entered"}}</span>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> Last Name:</a></span>
        <a
          class="d-block overflow-hidden">{{employeeDetails?.last_name ? employeeDetails?.last_name: "Not Entered"}}</a>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-monitor font-small-3"></i> gender:</a></span>
        <a class="d-block overflow-hidden">{{employeeDetails?.gender ? employeeDetails?.gender : "Not Entered"}}</a>
      </li>
    </ul>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-smartphone font-small-3"></i> Phone Number:</a></span>
        <span
          class="d-block overflow-hidden">{{employeeDetails?.contact_number ? employeeDetails?.contact_number: "Not Entered"}}</span>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-briefcase font-small-3"></i> Phone
            Number(second):</a></span>
        <span
          class="d-block overflow-hidden">{{employeeDetails?.contact_number_two ? employeeDetails?.contact_number_two: "Not Entered"}}</span>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-book font-small-3"></i> Nationality:</a></span>
        <span
          class="d-block overflow-hidden">{{employeeDetails?.nationality ? employeeDetails?.nationality : "Not Entered"}}</span>
      </li>
    </ul>
  </div>

</div>
<div class="row">
  <div class="col-12 col-md-6 col-lg-4">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-user font-small-3"></i> Martial Status:</a></span>
        <span
          class="d-block overflow-hidden">{{employeeDetails?.martial_status ? employeeDetails?.martial_status: "Not Entered"}}</span>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> Blood Group:</a></span>
        <a
          class="d-block overflow-hidden">{{employeeDetails?.blood_group ? employeeDetails?.blood_group: "Not Entered"}}</a>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-monitor font-small-3"></i> Date Of Birth:</a></span>
        <a class="d-block overflow-hidden">{{employeeDetails?.date_of_birth ? employeeDetails?.date_of_birth : "Not Entered"}}</a>
      </li>
    </ul>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-user font-small-3"></i> City:</a></span>
        <span
          class="d-block overflow-hidden">{{employeeDetails?.city ? employeeDetails?.city: "Not Entered"}}</span>
      </li>
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> Country:</a></span>
        <a
          class="d-block overflow-hidden">{{employeeDetails?.country ? employeeDetails?.country: "Not Entered"}}</a>
      </li>
      <!-- <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-monitor font-small-3"></i> Address:</a></span>
        <a class="d-block overflow-hidden">{{employeeDetails?.address ? employeeDetails?.address : "Not Entered"}}</a>
      </li> -->
    </ul>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-smartphone font-small-3"></i> Username:</a></span>
        <span
          class="d-block overflow-hidden">{{employeeDetails?.system_detail.username ? employeeDetails?.system_detail.username: "Not Entered"}}</span>
      </li>
      <!-- <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-briefcase font-small-3"></i> Phone
            Number(second):</a></span>
        <span
          class="d-block overflow-hidden">{{employeeDetails?.contact_number_two ? employeeDetails?.contact_number_two: "Not Entered"}}</span>
      </li> -->
      <li class="mb-2">
        <span class="text-bold-500 primary"><a><i class="ft-monitor font-small-3"></i> Address:</a></span>
        <a class="d-block overflow-hidden">{{employeeDetails?.address ? employeeDetails?.address : "Not Entered"}}</a>
      </li>
    </ul>
  </div>

</div>
<hr>