<ngx-datatable class="bootstrap striped" [rows]="employeeDetail" [loadingIndicator]="loadingIndicator"
[columns]="columns" [reorderable]="reorderable" [columnMode]="'force'" [headerHeight]="50"
[footerHeight]="50" [rowHeight]="'auto'" reorderable="true">
<ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" [canAutoResize]="true"
  prop="{{column.prop}}">
  <ng-template let-value="value" let-row="row" *ngIf="column.name==='No'" let-rowIndex="rowIndex"
    ngx-datatable-cell-template>
    <span>
      {{rowIndex + 1}}
    </span>
  </ng-template>
  <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Name'"
    ngx-datatable-cell-template>
    <span>
      {{row.first_name+" "+row.last_name}}
    </span>
  </ng-template>
  <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Department'" ngx-datatable-cell-template>
    <span>
      {{(row.employment_details == null ? '--' : row.employment_details?.department?.name)}}
    </span>
  </ng-template>
  <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Unit'"
    ngx-datatable-cell-template>
    <span>
      {{(row.employment_details == null ? '--': row.employment_details?.unit?.name)}}
    </span>
  </ng-template>
  <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Email'" ngx-datatable-cell-template>
    <span>
     {{row.email}}
    </span>
  </ng-template>
  <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Phone'"
    ngx-datatable-cell-template>
    <span>
      {{row.contact_number}}
    </span>
  </ng-template>
  <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Salary'"
  ngx-datatable-cell-template>
  <span>
    {{(row.employment_details == null ? '--' : row.employment_details?.salary)}}
  </span>
</ng-template>

  <!-- <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'"
    ngx-datatable-cell-template>
    <div class="col " style="position: absolute;">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary"  id="dropdownMenu1" ngbDropdownToggle></button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
          <button (click)="delete(row.id)" class="dropdown-item">Delete</button>
          <button (click)="open(loanModal,row.id)" class="dropdown-item">Edit</button>
        </div>
      </div>
    </div>
  </ng-template> -->
</ngx-datatable-column>

</ngx-datatable>