<div class="">

  <form>
    <h4 class="form-section"><i class="ft-user"></i>Experience Info</h4>
  </form>

  <div class="row justify-content-end m-0">
    <button (click)="open(experienceModal)" class="btn btn-raised btn-raised btn-primary">
      <i class="ft-plus"></i> Add Experience
    </button>
  </div>

  <ngx-datatable class="bootstrap striped" [rows]="experienceDetails" [loadingIndicator]="loadingIndicator" [columns]="columns"
    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable">
    <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Employeer'" ngx-datatable-cell-template>
        <span>
          {{row.employer != "null" ? row.employer : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Position'" ngx-datatable-cell-template>
        <span>
          {{row.position != "null" ? row.position : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Joining Date'" ngx-datatable-cell-template>
        <span>
          {{row.joining_date != "null" ? row.joining_date : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Leaving Date'" ngx-datatable-cell-template>
        <span>
          {{row.leaving_date != "null" ? row.leaving_date : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Last Salary'" ngx-datatable-cell-template>
        <span>
          {{row.last_salary != "null" ? row.last_salary: ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Reason for Leaving'" ngx-datatable-cell-template>
        <span>
          {{row.reason_for_leaving != "null" ? row.reason_for_leaving : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Salary Slip'" ngx-datatable-cell-template>
        <a (click)="downloadMarksheet(row.marksheet)">
          {{row.salary_slip != "null" ? row.salary_slip: ""}}
        </a>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Experience Letter'" ngx-datatable-cell-template>
        <a (click)="downloadDegree(row.degree)">
          {{row.experience_letter != "null" ? row.experience_letter: ""}}
        </a>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'" ngx-datatable-cell-template>
        <span>
          <button style="background-color:red;height:15px;" class="btn"><i class="rb-ic rb-ic-add-frame"></i></button>
          <button (click)="open(experienceModal,row.id)" style="background-color:blue;height:15px;" class="btn"><i
              class="rb-ic rb-ic-add-frame"></i>
            Edit
          </button>
        </span>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<ng-template #experienceModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Experience</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="experienceForm" class="form">
      <div class="form-body">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">Employeer</label>
              <input formControlName="employer" type="text" id="projectinput3" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">Position</label>
              <input formControlName="position" type="text" id="projectinput3" class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="issueinput3">Joining Date</label>
              <input formControlName="joining_date" type="date" id="issueinput3" class="form-control" name="dateopened"
                data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="issueinput3">Leaving Date</label>
              <input formControlName="leaving_date" type="date" id="issueinput3" class="form-control" name="dateopened"
                data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">Last Salary</label>
              <input formControlName="last_salary" type="text" id="projectinput3" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">Reason For Leaving</label>
              <textarea formControlName="reason_for_leaving"  id="projectinput3" class="form-control"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Salary Slip</label>
              <input type="file" (change)="processSalarySlip($event)" formControlName="salary_slip"
                class="form-control-file" id="projectinput8">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Experience Letter</label>
              <input type="file" (change)="processExperienceLetter($event)" formControlName="experience_letter" class="form-control-file"
                id="projectinput8">
            </div>
          </div>
        </div>

      </div>

      <div class="form-actions right">
        <button type="button" (click)="resetForm()" class="btn btn-raised btn-raised btn-warning mr-1">
          <i class="ft-x"></i> Cancel
        </button>

        <button type="button" (click)="addExperienceDetails()" class="btn btn-raised btn-raised btn-primary">
          <i class="fa fa-check-square-o"></i> Save
        </button>
      </div>
    </form>
  </div>

</ng-template>