<div class="row m-0">
  <div class="col-12">
    <div id="role" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Leave Set Config</h4>
      </div>
      <div class="card-content">
        <div class="card-body" style="letter-spacing: 2px;">
          <div class="">
            <div class="row mx-0 my-2">
              <div class="col-md-4">
                <select id="issueinput5" name="priority" class="form-control" (change)="onChangeSelect($event)"
                  data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority">
                  <option selected disabled value="-1">Select Leave Config</option>
                  <option *ngFor="let DBVariable of DBVariables" [value]="DBVariable.id">{{DBVariable.options}}
                  </option>
                </select>
              </div>
            </div>

            <div class="row justify-content-end m-0">
              <button (click)="open(optionModal)" class="btn btn-raised btn-raised btn-primary">
                <i class="ft-plus"></i> Add Leave Config
              </button>
            </div>
            <ngx-datatable class="bootstrap striped" [rows]="rows" [loadingIndicator]="loadingIndicator"
              [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'60'"
              [reorderable]="reorderable">
              <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}"
                prop="{{column.prop}}">
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'No'" let-rowIndex=rowIndex
                  ngx-datatable-cell-template>
                  <span>
                    {{(rowIndex+1)}}
                  </span>
                </ng-template>

                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Leave Type'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.leave_type.options}}
                  </span>
                </ng-template>

                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Quantity'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.quantity}}
                  </span>
                </ng-template>

                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'"
                  ngx-datatable-cell-template>
                  <div class="col" style="position: absolute;">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                        <button (click)="delete(row.id)" class="dropdown-item">Delete</button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>

          <ng-template #optionModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">System Variable Options</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="optionForm" class="form">
                <div class="form-body">

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="issueinput5">Leave Config</label>
                        <select formControlName="config_id" id="issueinput5" name="priority" class="form-control"
                          data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority">
                          <option selected disabled value="-1">Select</option>
                          <option *ngFor="let DBVariable of DBVariables" [value]="DBVariable.id">{{DBVariable.options}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="issueinput5">Leave Type</label>
                        <select formControlName="leave_type" id="issueinput5" name="priority" class="form-control"
                          data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority">
                          <option selected disabled value="-1">Select</option>
                          <option *ngFor="let leave of leaves" [value]="leave.id">{{leave.options}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="projectinput3">Quantity</label>
                        <input formControlName="quantity" type="text" id="projectinput3" class="form-control">
                      </div>
                    </div>
                  </div>

                </div>

                <div class="form-actions right">
                  <!-- <button type="button" (click)="resetForm()" class="btn btn-raised btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button> -->

                  <button [disabled]="optionForm.invalid" type="button" (click)="addOptionDetails()"
                    class="btn btn-raised btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                  </button>
                </div>
              </form>
            </div>

          </ng-template>

        </div>
      </div>
    </div>
  </div>
</div>