<div class="row my-3">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Employer :</a></span>
        <span class="line-height-2 d-block overflow-hidden">{{experienceDetail?.employer}}</span>
      </li>
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> Position : </a></span>
        <span class="line-height-2 d-block overflow-hidden">{{experienceDetail?.position}}</span>
      </li>
    </ul>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Joining Date : </a></span>
        <span class="line-height-2 d-block overflow-hidden">{{experienceDetail?.joining_date}}</span>
      </li>
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Leaving Date :</a></span>
        <span class="line-height-2 d-block overflow-hidden">{{experienceDetail?.leaving_date}}</span>
      </li>
    </ul>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <ul class="no-list-style">
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Last Salary : </a></span>
        <span class="line-height-2 d-block overflow-hidden">{{experienceDetail?.last_salary}}</span>
      </li>
      <li class="mb-2">
        <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>Reason For Leaving : :</a></span>
        <span class="line-height-2 d-block overflow-hidden">{{experienceDetail?.reason_for_leaving}}</span>
      </li>
    </ul>
  </div>
</div>
<hr>


