<div class="row m-0">
  <div class="col-12">
    <div id="role" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Fines</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="">

            <div class="row justify-content-end m-0">
              <button (click)="open(fineModal)" class="btn btn-raised btn-raised btn-primary">
                <i class="ft-plus"></i> Add Fine
              </button>
            </div>

            <ngx-datatable class="bootstrap striped" [rows]="fineDetail" [loadingIndicator]="loadingIndicator"
              [columns]="columns" [reorderable]="reorderable" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="'auto'" reorderable="true">
              <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" [canAutoResize]="true"
                prop="{{column.prop}}">
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='No'" let-rowIndex="rowIndex"
                  ngx-datatable-cell-template>
                  <span>
                    {{rowIndex + 1}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Amount'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.amount}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Month'" ngx-datatable-cell-template>
                  <span>
                    {{getMonthYear(row.month,row.year)}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Fine Type'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.type.options}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Name'" ngx-datatable-cell-template>
                  <span>
                    {{row.user.first_name+" "+row.user.last_name}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Description'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.description}}
                  </span>
                </ng-template>

                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'"
                  ngx-datatable-cell-template>
                  <div class="col " style="position: absolute;">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary"  id="dropdownMenu1" ngbDropdownToggle></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                        <button (click)="delete(row.id)" class="dropdown-item">Delete</button>
                        <button (click)="open(fineModal,row.id)" class="dropdown-item">Edit</button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>

          <ng-template #fineModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Fines</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form" [formGroup]="fineForm">
                <div class="form-body">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="issueinput5">User</label>
                        <ng-select [items]="users" bindLabel="name" bindValue="id" formControlName="user_id">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="projectinput3">Fine Type</label>
                        <ng-select [items]="fineType" bindLabel="name" bindValue="id" formControlName="type_id">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="projectinput3">Month</label>
                        <input class="form-control" type="month" value="2020-01" formControlName="month"
                          id="example-month-input">


                      </div>

                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="issueinput5">Value</label>
                        <input type="number" class="form-control" formControlName="amount">
                      </div>
                    </div>
                  </div>

                  <div class="row">

                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="projectinput3">Description</label>
                        <textarea type="text" class="form-control" formControlName="description"></textarea>

                      </div>
                    </div>



                  </div>

                </div>

                <div class="form-actions right">
                  <!-- <button type="button" (click)="resetForm()" class="btn btn-raised btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button> -->

                  <button type="button" (click)="addFineForUser()" [disabled]="fineForm.invalid"
                    class="btn btn-raised btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                  </button>
                </div>
              </form>
            </div>

          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>