<form [formGroup]="userForm" class="form">
  <div class="form-body">
    <h4 class="form-section"><i class="ft-user"></i>Hiring Info</h4>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="issueinput3">Joining Date</label>
          <input formControlName="joining_date" type="date" id="issueinput3" class="form-control" name="dateopened" data-toggle="tooltip"
            data-trigger="hover" data-placement="top" data-title="Date Opened">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3">Probation Period</label>
          <input formControlName="probation_period" type="date" id="projectinput3" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3">Test Details</label>
          <textarea formControlName="test_details"  id="projectinput3" class="form-control"></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3">Training Details</label>
          <textarea formControlName="training_details"  id="projectinput3" class="form-control"></textarea>
        </div>
      </div>
    </div>

  </div>

  <div class="form-actions">
    <button type="button" *ngIf="!isEdit" (click)="resetForm()" class="btn btn-raised btn-raised btn-warning mr-1">
      <i class="ft-x"></i> Cancel
    </button>
    <button type="button" *ngIf="isEdit" (click)="addHiringDetails()" class="btn btn-raised btn-raised btn-primary">
      <i class="fa fa-check-square-o"></i> Update
    </button>
    <button type="button" *ngIf="!isEdit" (click)="addHiringDetails()" class="btn btn-raised btn-raised btn-primary">
      <i class="fa fa-check-square-o"></i> Save
    </button>
  </div>
</form>