<form [formGroup]="userForm" class="form">
  <div class="form-body">
    <h4 class="form-section"><i class="ft-user"></i>Personal Info</h4>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput1"><span style="color: red;">*</span>Employee File Number</label>
          <input formControlName="employee_number" type="text" id="projectinput1" placeholder="E.g : PF-XXX"
            class="form-control">
          <div
            *ngIf="getFieldName('employee_number').invalid && (getFieldName('employee_number').dirty || getFieldName('employee_number').touched) ">
            <span *ngIf="getFieldName('employee_number').errors?.required" class="text-danger">
              Employee File Number is required
            </span>
            <span *ngIf="getFieldName('employee_number').errors?.pattern" class="text-danger">
              Employee File Number is invalid
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput2"><span style="color: red;">*</span>E-mail</label>
          <input formControlName="email" type="text" id="projectinput2" class="form-control">
          <div *ngIf="getFieldName('email').invalid && (getFieldName('email').dirty || getFieldName('email').touched) ">
            <span *ngIf="getFieldName('email').errors?.required" class="text-danger">
              E-mail is required.
            </span>
            <span *ngIf="getFieldName('email').errors?.email" class="text-danger">
              E-mail is invalid.
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="!isEdit" class="col-md-6">
        <div class="form-group">
          <label for="projectinput2"><span style="color: red;">*</span>Password</label>
          <input formControlName="password" type="password" id="projectinput2" class="form-control">
          <div
            *ngIf="getFieldName('password').invalid && (getFieldName('password').dirty || getFieldName('password').touched) ">
            <span *ngIf="getFieldName('password').errors?.required" class="text-danger">
              Password is required.
            </span>
            <span *ngIf="getFieldName('password').errors?.minlength" class="text-danger">
              Password is must be greater than 8 characters.
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3"><span style="color: red;">*</span>First Name</label>
          <input formControlName="first_name" type="text" id="projectinput3" class="form-control">
          <div
            *ngIf="getFieldName('first_name').invalid && (getFieldName('first_name').dirty || getFieldName('first_name').touched) ">
            <span *ngIf="getFieldName('first_name').errors?.required" class="text-danger">
              First name is required
            </span>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput4"><span style="color: red;">*</span>Last Name</label>
          <input formControlName="last_name" type="text" id="projectinput4" class="form-control">
          <div
            *ngIf="getFieldName('last_name').invalid && (getFieldName('last_name').dirty || getFieldName('last_name').touched) ">
            <span *ngIf="getFieldName('last_name').errors?.required" class="text-danger">
              Last name is required
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3"><span style="color: red;">*</span>Contact No.</label>
          <input formControlName="contact_number" placeholder="e.g 03xxxxxxxxx" type="text" id="projectinput3"
            class="form-control">
          <div
            *ngIf="getFieldName('contact_number').invalid && (getFieldName('contact_number').dirty || getFieldName('contact_number').touched) ">
            <span *ngIf="getFieldName('contact_number').errors?.required" class="text-danger">
              Contact No. is required
            </span>
            <span *ngIf="getFieldName('contact_number').errors?.pattern" class="text-danger">
              Contact No. is invalid
            </span>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput4">Contact No.(second)</label>
          <input formControlName="contact_number_two" type="number" id="projectinput4" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3"><span style="color: red;">*</span>CNIC</label>
          <input formControlName="cnic" placeholder="e.g xxxxx-xxxxxxx-x" type="text" id="projectinput3"
            class="form-control">
          <div *ngIf="getFieldName('cnic').invalid && (getFieldName('cnic').dirty || getFieldName('cnic').touched) ">
            <span *ngIf="getFieldName('cnic').errors?.required" class="text-danger">
              CNIC is required
            </span>
            <span *ngIf="getFieldName('cnic').errors?.pattern" class="text-danger">
              CNIC is invalid
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput4">Nationality</label>
          <input formControlName="nationality" type="text" id="projectinput4" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3">Blood Group</label>
          <input formControlName="blood_group" type="text" id="projectinput3" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="issueinput3">Date of birth</label>
          <input formControlName="date_of_birth" type="date" id="issueinput3" class="form-control" name="dateopened"
            data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="projectinput3">Address</label>
          <input formControlName="address" type="text" id="projectinput3" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3">City</label>
          <input formControlName="city" type="text" id="projectinput3" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3">Country</label>
          <input formControlName="country" type="text" id="projectinput3" class="form-control">
        </div>
      </div>
    </div>

    <div  class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="issueinput5"><span style="color: red;">*</span>CNIC</label>
          <input type="file" (change)="processCnic($event)" formControlName="cnic_attachment" class="form-control-file"
            id="projectinput8">
        </div>
      </div>
      <div *ngIf="!isEdit" class="col-md-6">
        <div class="form-group">
          <label for="issueinput5"><span style="color: red;">*</span>Leave Config</label>
          <select formControlName="leave_config_id" id="issueinput5" name="priority" class="form-control"
            data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority">
            <option selected disabled value="-1">Select</option>
            <option *ngFor="let LeaveConfig of LeaveConfigs" [value]="LeaveConfig.id">{{LeaveConfig.options}}
            </option>
          </select>
          <div
            *ngIf="getFieldName('leave_config_id').invalid && (getFieldName('leave_config_id').dirty || getFieldName('leave_config_id').touched) ">
            <span *ngIf="getFieldName('leave_config_id').errors?.required" class="text-danger">
              Leave Config is required
            </span>
          </div>
        </div>
      </div>


    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="d-block"><span style="color: red;">*</span>Gender</label>
          <div class="form-check form-check-inline">
            <input formControlName="gender" class="form-check-input" type="radio" id="inlineCheckbox1" value="male">
            <label class="form-check-label" for="inlineCheckbox1">male</label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="gender" class="form-check-input" type="radio" id="inlineCheckbox2" value="female">
            <label class="form-check-label" for="inlineCheckbox2">female</label>
          </div>
          <div
            *ngIf="getFieldName('gender').invalid && (getFieldName('gender').dirty || getFieldName('gender').touched) ">
            <span *ngIf="getFieldName('gender').errors?.required" class="text-danger">
              Gender is required
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="d-block"><span style="color: red;">*</span>Married?</label>
          <div class="form-check form-check-inline">
            <input formControlName="martial_status" class="form-check-input" type="radio" id="inlineCheckbox1"
              value="married">
            <label class="form-check-label" for="inlineCheckbox1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="martial_status" class="form-check-input" type="radio" id="inlineCheckbox2"
              value="unmarried">
            <label class="form-check-label" for="inlineCheckbox2">No</label>
          </div>
          <div
            *ngIf="getFieldName('martial_status').invalid && (getFieldName('martial_status').dirty || getFieldName('martial_status').touched) ">
            <span *ngIf="getFieldName('martial_status').errors?.required" class="text-danger">
              Martial status is required
            </span>
          </div>
        </div>
      </div>
    </div>

    <h4 class="form-section mt-2"><i class="ft-user"></i>System Info</h4>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3"><span style="color: red;">*</span>User Name</label>
          <input placeholder="E.g : PF-XXX" formControlName="username" type="text" id="projectinput3"
            class="form-control">
          <div
            *ngIf="getFieldName('username').invalid && (getFieldName('username').dirty || getFieldName('username').touched) ">
            <span *ngIf="getFieldName('username').errors?.required" class="text-danger">
              Username is required
            </span>
            <span *ngIf="getFieldName('username').errors?.pattern" class="text-danger">
              Username is invalid.
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="issueinput5"><span style="color: red;">*</span>Role</label>
          <select formControlName="role_id" id="issueinput5" name="priority" class="form-control" data-toggle="tooltip"
            data-trigger="hover" data-placement="top" data-title="Priority">
            <option selected disabled value="-1">Select</option>
            <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
          </select>
          <div
            *ngIf="getFieldName('role_id').invalid && (getFieldName('role_id').dirty || getFieldName('role_id').touched) ">
            <span *ngIf="getFieldName('role_id').errors?.required" class="text-danger">
              Role is required
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="form-actions">
    <button type="button" *ngIf="!isEdit" (click)="resetForm()" class="btn btn-raised btn-raised btn-warning mr-1">
      <i class="ft-x"></i> Cancel
    </button>
    <button *ngIf="!isEdit" [disabled]="userForm.invalid && !cnic_attachment" (click)="addPersonalDetails()"
      type="button" class="btn btn-raised btn-raised btn-primary">
      <i class="fa fa-check-square-o"></i> Save
    </button>
    <button *ngIf="isEdit" [disabled]="userForm.invalid" (click)="addPersonalDetails()" type="button"
      class="btn btn-raised btn-raised btn-primary">
      <i class="fa fa-check-square-o"></i> Update
    </button>
  </div>

  <div *ngIf="isFormError" class="alert alert-danger">
    <ul>
      <li *ngFor="let error of errors">{{error}}</li>
    </ul>
  </div>
</form>