<div class="">

  <form>
    <h4 class="form-section"><i class="ft-user"></i>Family Info</h4>
  </form>

  <div class="row justify-content-end m-0">
    <button (click)="open(familyModal)" class="btn btn-raised btn-raised btn-primary">
      <i class="ft-plus"></i> Add Family
    </button>
  </div>

  <ngx-datatable class="bootstrap striped" [rows]="familyDetails" [loadingIndicator]="loadingIndicator"
    [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
    [reorderable]="reorderable">
    <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
      <ng-template let-value="value" let-row="row" *ngIf="column.name=== 'Name'" ngx-datatable-cell-template>
        <span>
          {{row.name != "null" ? row.name : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='CNIC'" ngx-datatable-cell-template>
        <span>
          {{row.cnic != "null" ? row.cnic : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Nationality'" ngx-datatable-cell-template>
        <span>
          {{row.nationality != "null" ? row.nationality : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Profession'" ngx-datatable-cell-template>
        <span>
          {{row.profession != "null" ? row.profession : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Phone'" ngx-datatable-cell-template>
        <span>
          {{row.contact != "null" ? row.contact: ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Relation'" ngx-datatable-cell-template>
        <span>
          {{row.relation != "null" ? row.relation : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Address'" ngx-datatable-cell-template>
        <span>
          {{row.address != "null" ? row.address : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Blood Group'" ngx-datatable-cell-template>
        <span>
          {{row.blood_group != "null" ? row.blood_group : ""}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'" ngx-datatable-cell-template>
        <span>
          <button style="background-color:red;height:15px;" class="btn"><i class="rb-ic rb-ic-add-frame"></i></button>
          <button (click)="open(familyModal,row.id)" style="background-color:blue;height:15px;" class="btn"><i
              class="rb-ic rb-ic-add-frame"></i>
            Edit
          </button>
        </span>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>

<ng-template #familyModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Family Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="familyForm" class="form">
      <div class="form-body">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">Name</label>
              <input formControlName="name" type="text" id="projectinput3" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">CNIC</label>
              <input formControlName="cnic" type="text" id="projectinput3" class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">Nationality</label>
              <input formControlName="nationality" type="text" id="projectinput3" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">Profession</label>
              <input formControlName="profession" type="text" id="projectinput3" class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">Phone</label>
              <input formControlName="contact" type="text" id="projectinput3" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">Relation</label>
              <input formControlName="relation" type="text" id="projectinput3" class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">Address</label>
              <input formControlName="address" type="text" id="projectinput3" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectinput3">Blood Group</label>
              <input formControlName="blood_group" type="text" id="projectinput3" class="form-control">
            </div>
          </div>
        </div>

      </div>

      <div class="form-actions right">
        <button type="button" (click)="resetForm()" class="btn btn-raised btn-raised btn-warning mr-1">
          <i class="ft-x"></i> Cancel
        </button>

        <button type="button" (click)="addFamilyDetails()" class="btn btn-raised btn-raised btn-primary">
          <i class="fa fa-check-square-o"></i> Save
        </button>
      </div>
    </form>
  </div>

</ng-template>