<div class="row m-0">
  <div class="col-12">
    <div id="role" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Employee Salaries</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="">

            <ngb-tabset >
              <ngb-tab title="List Salaries">
                <ng-template ngbTabContent>
                 <app-list-salaries></app-list-salaries>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Mark Increment ">
               
                <ng-template ngbTabContent>
<app-mark-increment></app-mark-increment>
                </ng-template>
              </ngb-tab>
            
            </ngb-tabset>







            <!-- <div class="row justify-content-end m-0">
              <button (click)="open(loanModal)" class="btn btn-raised btn-raised btn-primary">
                <i class="ft-plus"></i> Add Loan
              </button>
            </div> -->

          
          </div>
<!-- 
          <ng-template #loanModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Fines</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form" [formGroup]="loanForm">
                <div class="form-body">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="issueinput5">User</label>
                        <ng-select [items]="users" bindLabel="name" bindValue="id" formControlName="user_id">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="projectinput3">Loan Type</label>
                        <ng-select [items]="loanType" bindLabel="name" bindValue="id" formControlName="type_id">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="projectinput3">Month</label>
                        <input class="form-control" type="month" value="2020-01" formControlName="start_month"
                          id="example-month-input">


                      </div>

                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="issueinput5">Amount</label>
                        <input type="number" class="form-control" formControlName="amount">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="issueinput5">Installments</label>
                        <input type="number" class="form-control" formControlName="installments">
                      </div>
                    </div>
                  </div>

                  <div class="row">

                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="projectinput3">Description</label>
                        <textarea type="text" class="form-control" formControlName="description"></textarea>

                      </div>
                    </div>



                  </div>

                </div>

                <div class="form-actions right">
                  <button type="button" (click)="resetForm()" class="btn btn-raised btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button> -->

                  <!-- <button type="button" (click)="addLoanForUser()" 
                    class="btn btn-raised btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                  </button>
                </div>
              </form>
            </div>

          </ng-template> --> 
        </div>
      </div>
    </div>
  </div>
</div>