@import "../../../assets/sass/scss/gradient-variables";

:host /deep/ .BarChart .ct-series-a .ct-bar:nth-of-type(4n+1) {
    stroke:#3f51b5
  }
  :host /deep/ .BarChart .ct-series-a .ct-bar:nth-of-type(4n+2) {
    // stroke: url($dashboard1-gradient-path +  #gradient5);
    stroke: #0CC27E;
  }
  :host /deep/ .BarChart .ct-series-a .ct-bar:nth-of-type(4n+3) {
    // stroke: url($dashboard1-gradient-path +  #gradient6);
    stroke: #9c27b0;
  }
  :host /deep/ .BarChart .ct-series-a .ct-bar:nth-of-type(4n+4) {
    // stroke: url($dashboard1-gradient-path +  #gradient4);
    stroke: #f44336;
  }
  :host /deep/ .BarChart .ct-series-a .ct-bar:nth-of-type(4n+5) {
    // stroke: url($dashboard1-gradient-path +  #gradient4);
    stroke: #868e96;
  }