<!-- Card View  -->
<div class="row">
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div routerLink="/user/list" class="card gradient-blackberry">
			<div class="card-content">
				<div class="card-body py-2">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0">{{convertNumber(displayCardData.employees)}}</h3>
							<span>Employees</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-users font-large-1"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div routerLink="/user/list" class="card gradient-ibiza-sunset">
			<div class="card-content">
				<div class="card-body py-2">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0">{{convertNumber(displayCardData.totalActive)}}</h3>
							<span>Active Employees</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-user-following font-large-1"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div routerLink="/user/list" class="card gradient-green-tea">
			<div class="card-content">
				<div class="card-body py-2">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0">{{convertNumber(displayCardData.totalInactive)}}</h3>
							<span>Inactive Employees</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-user-unfollow font-large-1"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div routerLink="/leaves/requests" class="card gradient-pomegranate">
			<div class="card-content">
				<div class="card-body py-2">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0">{{convertNumber(displayCardData.leaveRequests)}}</h3>
							<span>Leave Requests</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-plane font-large-1"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div routerLink="/tranfermanagement/requestslist" class="card gradient-pomegranate">
			<div class="card-content">
				<div class="card-body py-2">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0">{{convertNumber(displayCardData.transferRequests)}}</h3>
							<span>Transfer Request</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-directions font-large-1"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div routerLink="/payroll/salaries" class="card gradient-blackberry">
			<div class="card-content">
				<div class="card-body py-2">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0">Rs. {{convertNumber(displayCardData.totalSalaries)}}</h3>
							<span>Salaries</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-wallet font-large-1"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div routerLink="/department/list" class="card gradient-ibiza-sunset">
			<div class="card-content">
				<div class="card-body py-2">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0">{{convertNumber(displayCardData.departments)}}</h3>
							<span>Departments</span>
						</div>
						<div class="media-right white text-right">
							<i class="ft-briefcase font-large-1"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div routerLink="/unit/list" class="card gradient-green-tea">
			<div class="card-content">
				<div class="card-body py-2">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0">{{convertNumber(displayCardData.branches)}}</h3>
							<span>Branches</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-globe font-large-1"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- attendance View -->

<div class="row">
	<div class="col-xl-5 col-lg-12">
		<div class="card height-500">
			<div class="card-header">
				<h4 class="card-title">Attendance</h4>
			</div>
			<div class="card-content">

				<p class="font-medium-2 text-muted text-center">Today</p>
				<div id="bar-chart" class="height-250 BarChartShadow BarChart">
					<x-chartist class="height-250" [data]="attendanceBarChart.data" [type]="attendanceBarChart.type"
						[options]="attendanceBarChart.options"
						[responsiveOptions]="attendanceBarChart.responsiveOptions">
					</x-chartist>
				</div>

				<div class="card-body">
					<div class="row">
						<div class="col text-center">
							<span class="bg-indigo d-block rounded-circle mx-auto mb-2"
								style="width:10px; height:10px;"></span>
							<span class="font-large-1 d-block mb-2">{{attendanceCardData.totalEmployees}}</span>
							<span>Total</span>
						</div>
						<div class="col text-center">
							<span class="bg-success d-block rounded-circle mx-auto mb-2"
								style="width:10px; height:10px;"></span>
							<span class="font-large-1 d-block mb-2">{{attendanceCardData.totalPresent}}</span>
							<span>Present</span>
						</div>
						<div class="col text-center">
							<span class="bg-purple d-block rounded-circle mx-auto mb-2"
								style="width:10px; height:10px;"></span>
							<span class="font-large-1 d-block mb-2">{{attendanceCardData.totalOnLeave}}</span>
							<span>On Leave</span>
						</div>
						<div class="col text-center">
							<span class="bg-red d-block rounded-circle mx-auto mb-2"
								style="width:10px; height:10px;"></span>
							<span class="font-large-1 d-block mb-2">{{attendanceCardData.totalAbsent}}</span>
							<span>Absent</span>
						</div>
						<div class="col text-center">
							<span class="bg-secondary d-block rounded-circle mx-auto mb-2"
								style="width:10px; height:10px;"></span>
							<span class="font-large-1 d-block mb-2">{{attendanceCardData.notMarked}}</span>
							<span>Not Marked</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-7 col-lg-12">
		<div class="card height-500">
			<div class="card-header">
				<h4 class="card-title">Weekly Attendance</h4>
			</div>
			<div class="card-content">

				<p class="font-medium-2 text-muted text-center">{{getCurrentMonth()}}</p>
				<div id="bar-chart" class="height-300 BarChartShadow BarChart">
					<x-chartist class="height-300" [data]="weeklyAttendanceBarChart.data" [type]="weeklyAttendanceBarChart.type"
						[options]="weeklyAttendanceBarChart.options"
						[responsiveOptions]="weeklyAttendanceBarChart.responsiveOptions">
					</x-chartist>
				</div>

				<div class="card-body">
					<div class="row">
						<div *ngFor="let week of weeksArray" class="col text-center">
							<!-- <span class="font-large-1 d-block mb-2">{{attendanceCardData.totalEmployees}}</span> -->
							<span>{{week}}</span>
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-12 col-lg-12">
		<div class="card height-500">
			<div class="card-header">
				<h4 class="card-title">Monthly Attendance</h4>
			</div>
			<div class="card-content">

				<p class="font-medium-2 text-muted text-center"></p>
				<div id="bar-chart" class="height-250 BarChartShadow BarChart">
					<x-chartist class="height-250" [data]="attendanceBarChart.data" [type]="attendanceBarChart.type"
						[options]="attendanceBarChart.options"
						[responsiveOptions]="attendanceBarChart.responsiveOptions">
					</x-chartist>
				</div>

				<div class="card-body">
					<div class="row">
						<div class="col text-center">
							<span class="bg-indigo d-block rounded-circle mx-auto mb-2"
								style="width:10px; height:10px;"></span>
							<span class="font-large-1 d-block mb-2">{{attendanceCardData.totalEmployees}}</span>
							<span>Total</span>
						</div>
						<div class="col text-center">
							<span class="bg-success d-block rounded-circle mx-auto mb-2"
								style="width:10px; height:10px;"></span>
							<span class="font-large-1 d-block mb-2">{{attendanceCardData.totalPresent}}</span>
							<span>Present</span>
						</div>
						<div class="col text-center">
							<span class="bg-purple d-block rounded-circle mx-auto mb-2"
								style="width:10px; height:10px;"></span>
							<span class="font-large-1 d-block mb-2">{{attendanceCardData.totalOnLeave}}</span>
							<span>On Leave</span>
						</div>
						<div class="col text-center">
							<span class="bg-red d-block rounded-circle mx-auto mb-2"
								style="width:10px; height:10px;"></span>
							<span class="font-large-1 d-block mb-2">{{attendanceCardData.totalAbsent}}</span>
							<span>Absent</span>
						</div>
						<div class="col text-center">
							<span class="bg-secondary d-block rounded-circle mx-auto mb-2"
								style="width:10px; height:10px;"></span>
							<span class="font-large-1 d-block mb-2">{{attendanceCardData.notMarked}}</span>
							<span>Not Marked</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>