<div class="row m-0">
  <div class="col-12">
    <div id="list-leaves" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Leave Requests</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div>
            <div *ngIf="loading">
              Loading...
            </div>
            <!-- <div *ngIf="rows.length > 0" class="row justify-content-end m-0">
              <a routerLink="/leaves/apply" class="btn btn-raised btn-raised btn-primary">
                <i class="ft-plus"></i> Apply for Leave
              </a>
            </div> -->
            <ngx-datatable *ngIf="!loading" class="bootstrap expandable" [rows]="rows" [loadingIndicator]="true"
              [rowHeight]="50" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50">
              <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}"
                prop="{{column.prop}}">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" *ngIf="column.name==='No'"
                  ngx-datatable-cell-template>
                  <span>
                    {{rowIndex+1}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Applied By'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.applied_by.first_name+" "+row.applied_by.last_name}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='From'" ngx-datatable-cell-template>
                  <span>
                    {{row.from}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='To'" ngx-datatable-cell-template>
                  <span>
                    {{row.to}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Department'"
                  ngx-datatable-cell-template>
                  <span>
                    {{row.department.name}}
                  </span>
                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Status'" ngx-datatable-cell-template>
                  <div *ngIf="row.approved_status == 1" class="approved">
                    {{"Approved"}}
                  </div>
                  <div *ngIf="row.approved_status == 0" class="rejected">
                    {{"Rejected"}}
                  </div>
                  <div *ngIf="row.approved_status == 2" class="pending">
                    {{"Pending"}}
                  </div>
                  <div *ngIf="row.approved_status == 3" class="inprocess">
                    {{"In process"}}
                  </div>

                </ng-template>
                <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'"
                  ngx-datatable-cell-template>

                  <div *ngIf="row.approved_status != 0 && row.approved_status != 1" class="col"
                    style="position: absolute;">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                        <button *ngIf="row.next_inline?.id == userId"
                          (click)="open(processLeaveModal,row);isRejected =true" class="dropdown-item">Reject</button>
                        <button (click)="isRejected=false;processLeave(row)" *ngIf="row.next_inline?.id == userId"
                          class="dropdown-item">Approve</button>
                      </div>
                    </div>
                  </div>
                  <!-- <span>
                    <button *ngIf="row.next_inline?.id == userId" (click)="open(processLeaveModal,row);isRejected =true"
                      style="background-color:red;height:15px;" class="btn"><i
                        class="rb-ic rb-ic-add-frame"></i></button>
                    <button (click)="isRejected=false;processLeave(row)" *ngIf="row.next_inline?.id == userId"
                      style="background-color:blue;height:15px;" class="btn"><i class="rb-ic rb-ic-add-frame"></i>
                      Approve
                    </button>
                  </span> -->
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #processLeaveModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Processs Leave</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="processLeaveForm" class="form">
      <div class="form-body">

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="projectinput3">Reason to Cancel</label>
              <input formControlName="status_message" type="text" id="projectinput3" class="form-control">
            </div>
          </div>
        </div>

      </div>

      <div class="form-actions right">
        <!-- <button type="button" (click)="resetForm()" class="btn btn-raised btn-raised btn-warning mr-1">
          <i class="ft-x"></i> Cancel
        </button> -->

        <button [disabled]="processLeaveForm.invalid" type="button" (click)="processLeave(row)"
          class="btn btn-raised btn-raised btn-danger">
          <i class="fa fa-check-square-o"></i> proceed
        </button>
      </div>
    </form>
  </div>

</ng-template>