#list-leaves .approved{
    background-color: green;
    width: 70px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list-leaves .rejected{
    background-color: red;
    width: 70px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list-leaves .pending{
    background-color: #6767ee;
    width: 70px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list-leaves .inprocess{
    background-color: orange;
    width: 70px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}