<div class="row m-0">
  <div class="col-12">
    <div id="user-profile" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Permissions</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <ngb-tabset>

            <ngb-tab title="Permission List">
              <ng-template ngbTabContent>
                <app-list></app-list>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="Assign Permissions">
              <ng-template ngbTabContent>
                <app-assign-permission></app-assign-permission>
              </ng-template>
            </ngb-tab>

          </ngb-tabset>

        </div>
      </div>
    </div>
  </div>
</div>