<div class="row m-0">
  <div class="col-12">
    <div id="role" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Apply For Leave</h4>
      </div>
      <div class="card-content">
        <div class="card-body" style="letter-spacing: 2px;">

          <!-- <a routerLink="/leaves/requests">
            <i class="ft-chevron-left" style="color: #75787d; font-size: 15px;"></i><span
              style="color:#75787d;">Back</span>
          </a> -->
          <form>
            <h4 class="form-section"></h4>
          </form>
          <!-- <div *ngIf="formError" class="alert alert-danger" role="alert">
            {{formError}}
          </div> -->

          <form [formGroup]="leaveForm" class="form">
            <div class="form-body">

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="issueinput3">From</label>
                    <input formControlName="from" type="date" id="issueinput3" class="form-control" name="dateopened"
                      data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="issueinput3">To</label>
                    <input formControlName="to" type="date" id="issueinput3" class="form-control" name="dateopened"
                      data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="issueinput5">Leave Type</label>
                    <select formControlName="leave_type" id="issueinput5" name="priority" class="form-control"
                      data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority">
                      <option selected disabled value="-1">Select</option>
                      <option *ngFor="let leaveType of leaveTypes" [value]="leaveType.id">{{leaveType.options}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="projectinput1">Reason</label>
                    <input type="text" id="projectinput1" formControlName="reason" class="form-control">
                  </div>
                </div>
              </div>

              <div class="form-actions">
                <button (click)="applyForLeave()" [disabled]="leaveForm.invalid" type="button"
                  class="btn btn-raised btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>