#job-posts .approved {
    background-color: green;
    width: 70px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#job-posts .rejected {
    background-color: red;
    width: 70px;
    height: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}