<div class="row m-0">
  <div class="col-12">
    <div id="role" class="card">
      <div class="card-header bg-light pb-2">
        <h4 class="card-title">Create Unit</h4>
      </div>
      <div class="card-content">
        <div class="card-body" style="letter-spacing: 2px;">

          <a routerLink="/unit/list">
            <i class="ft-chevron-left" style="color: #75787d; font-size: 15px;"></i><span
              style="color:#75787d;">Back</span>
          </a>
          <form>
            <h4 class="form-section"></h4>
          </form>
          <div *ngIf="formError" class="alert alert-danger" role="alert">
            {{formError}}
          </div>

          <form [formGroup]="unitForm" class="form">
            <div class="form-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput1">Unit Name</label>
                    <input type="text" id="projectinput1" formControlName="name" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput1">Email</label>
                    <input type="text" id="projectinput1" formControlName="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput1">Phone</label>
                    <input type="text" id="projectinput1" formControlName="phone" class="form-control">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput1">Code</label>
                    <input type="text" id="projectinput1" formControlName="code" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput1">prefix</label>
                    <input type="text" id="projectinput1" formControlName="prefix" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput1">Shift Start</label>
                    <input type="time" id="projectinput1" formControlName="shift_start" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput1">Shift End</label>
                    <input type="time" id="projectinput1" formControlName="shift_end" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput1">Week Start</label>
                    <input type="text" id="projectinput1" formControlName="week_start" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="issueinput5">Type</label>
                    <ng-select [items]="unitTypes" bindLabel="options" bindValue="id" formControlName="type">
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="issueinput5">Zone</label>
                    <ng-select [items]="zones" bindLabel="name" bindValue="id" formControlName="zone_id">
                    </ng-select>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="projectinput3">Address</label>
                    <input formControlName="address" type="text" id="projectinput3" class="form-control">
                  </div>
                </div>
              </div>

              <div class="form-actions">
                <button (click)="addUnit()" [disabled]="unitForm.invalid" type="button"
                  class="btn btn-raised btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>