<form [formGroup]="userForm" class="form">
  <div class="form-body">
    <h4 class="form-section"><i class="ft-user"></i>Employment Info</h4>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput1">Employee Type</label>
            <ng-select [items]="employee_types" bindLabel="options" bindValue="id" formControlName="employee_type_id">
            </ng-select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput2">Salary</label>
          <input formControlName="salary" type="text" id="projectinput2" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="issueinput3">Confirmation Date</label>
          <input formControlName="confirmation_date" type="date" id="issueinput3" class="form-control" name="dateopened"
            data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="issueinput3">Quit Date</label>
          <input type="date" formControlName="quit_date" id="issueinput3" class="form-control" name="dateopened"
            data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3">Grade</label>
          <input formControlName="grade" type="text" id="projectinput3" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="issueinput5">Payment Type</label>
          <ng-select [items]="paymentTypes" bindLabel="options" bindValue="id" formControlName="payment_type">
          </ng-select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="issueinput5">Unit</label>
          <ng-select [items]="units" bindLabel="name" bindValue="id" formControlName="unit_id">
          </ng-select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="issueinput5">Department</label>
          <ng-select [items]="departments" bindLabel="name" bindValue="id" formControlName="department_id">
          </ng-select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="issueinput5">Designation</label>
          <ng-select [items]="designations" bindLabel="title" bindValue="id" formControlName="designation_id">
          </ng-select>
        </div>
      </div>
      <div class="col-md-6">

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3">Shift Time In</label>
          <input formControlName="shift_timein" type="time" id="projectinput3" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3">Shift Time Out</label>
          <input formControlName="shift_timeout" type="time" id="projectinput3" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3">Transfer Period(In days)</label>
          <input formControlName="transfer_period" type="text" id="projectinput3" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3">Next Transfer</label>
          <input formControlName="next_transfer" type="date" id="projectinput3" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="d-block">Transfer Allowed</label>
          <div class="form-check form-check-inline">
            <input formControlName="is_tranfer_allow" class="form-check-input" type="radio" id="inlineRadio1" value=1>
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="is_tranfer_allow" class="form-check-input" type="radio" id="inlineRadio2" value=0>
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </div>
      <div class="col-md-6">

      </div>
    </div>

  </div>
  <div class="form-actions">
    <button type="button" *ngIf="!isEdit" (click)="resetForm()" class="btn btn-raised btn-raised btn-warning mr-1">
      <i class="ft-x"></i> Cancel
    </button>
    <button type="button" *ngIf="isEdit" (click)="addEmploymentDetails()" class="btn btn-raised btn-raised btn-primary">
      <i class="fa fa-check-square-o"></i> Update
    </button>
    <button type="button" *ngIf="!isEdit" (click)="addEmploymentDetails()"
      class="btn btn-raised btn-raised btn-primary">
      <i class="fa fa-check-square-o"></i> Save
    </button>
  </div>
</form>